[2019-09-18 00:11] wrightmw commented on #2038
@courtneythaxton good idea, let's discuss on Monday.
Just to make sure I have this right, you'd like the same options as you currently have for proband scoring?:
1) Score, Review, and Contradicts are all options on first pulldown
2) i)If you select Review or Contradicts then these saved, whereas ii) If you select Score then you get the current scoring pulldown to select the score
Is that right?

[2019-09-18 00:14] courtneythaxton commented on #2038
@wright That is correct.

Also, if Contradicts is selected, it should indicate contradictory evidence is present on the classification matrix page (see first image), as well as in the Evidence summary, top of the page summary.

<img width="893" alt="Screen Shot 2019-09-17 at 8 13 37 PM" src="https://user-images.githubusercontent.com/32530005/65088511-b743d880-d987-11e9-8fc6-978636ea90d7.png">

[2019-09-18 12:09] wright commented on #2038
Please be aware that @wright and @wrightmw  are not the same person. You want the longer name for his discussion.

[2019-09-18 17:51] wrightmw commented on #2037
![](https://github.trello.services/images/mini-trello-icon.png) [ClinVar data structure change](https://trello.com/c/puAvrghZ/52-clinvar-data-structure-change)

[2019-09-18 21:12] wrightmw opened #2039 "Add new affiliations for R28"
In addition to the 3 non-GCI/VCI affiliations itemized in #2036 , there are an additional three new GCI/VCI affiliations (6 total)

[2019-09-23 17:26] wrightmw opened #2040 "Update CDH1/PTEN guidelines to V2"
The CDH and PTEN Guidelines have updated to version 2, so we need to update the CDH1 and PTEN affiliation files so that exports to the ERepo have the correct version numbers.

[2019-09-23 18:52] cgpreston opened #2041 "Remove PMID from GCI"
User wants to delete PMID 18506004 erroneously added to the PRDM16 gene curation https://curation.clinicalgenome.org/curation-central/?gdm=0d879f3a-d78f-4116-a928-ee06371590cd&pmid=23768516

Permanent solution for this proposed in #313

[2019-09-23 18:53] cgpreston commented on #313
This issue has come up again.  See #2041.

[2019-09-23 19:10] markmandell commented on #1585
Hi everyone! Just pushed the update to the instance with the "Get HPO Terms" button.
https://1585-mm-displayhpoterms.demo.clinicalgenome.org/

Let me know of any feedback! Users are still able to copy down the info from Group or Family, but  now it isn't reliant on that method to get append the terms to the id(s).

[2019-09-23 19:31] ErinRiggs commented on #1585
Thank you so much!  Adding HPOs numbers then retrieving the words worked well in the "Individual" section.  However, when I saved then tried to view the Evidence Summary, it looked like this (my case has the label "ere"):

[cid:4f0d5957-6ac9-4020-8f03-33e7d84e82be]
You can see there is a weird "note: term not found" added to the end of each of them.  Also, if possible, I'd prefer if the human read

[2019-09-23 20:12] markmandell commented on #1585
Hi Erin,

Thank you for bringing that to my attention! I forgot to remove some previous code from the evidence summary where the terms are being requested as well.

In the case where the term is not found from OLS, is there an alternative note that you would recommend? For example, a successful retrieval would read "Seizures (HP:0001250)", but my first thought is "Term Not Found (HP:0001110)" woul

[2019-09-24 19:31] wrightmw opened #2043 "Make Final Approval Date a required field in the GCI"
The Final Approval Date is not currently required but would be useful for downstream usage on the website if this field were always saved. The library currently used in the Approval panel is not simple to update to allow making this field required. Once the codebase has been rearchitected then a different library could be selected and it would make updating this field easier.

[2019-09-24 19:32] wrightmw commented on #1796
Final Approval Date can be made required in a future release (see #2043)

[2019-09-24 19:34] wrightmw commented on #2021
This ticket would be made redundant by implementation of #2035

[2019-09-24 19:36] wrightmw commented on #2035
@sgoehringer Please let us know in here if there are any implications for the website for selecting a version number upon approval.

[2019-09-24 19:37] wrightmw commented on #2035
@ErinRiggs SOP version numbers are shown in the Evidence Summary... in future, would we expect that curators should also be able to select the version number when they are saving as Provisional?

[2019-09-24 19:42] wrightmw commented on #2043
Requested by GC WG.

[2019-09-24 19:51] ErinRiggs commented on #2035
I was envisioning that the curator would select the version number in a single place - so either at the point when they first save a classification matrix, when they save as provisional, or when they save as approved, but they shouldn't be asked to specify at all three points, if that makes sense.

[2019-09-25 00:13] wrightmw commented on #2035
@ErinRiggs Makes absolute sense. Perfectly happy to just keep it as a final decision in the Approval panel.

[2019-09-25 01:26] courtneythaxton commented on #1585
@markmandell
Do you think there will be an instance where the use of an HPO ID will not retrieve the terminology or nomenclature?

I do understand your point that if it happens it would be unfortunate, and we should have a plan. I"m not opposed to it stating "Term Not Found(HPO ID)"

My next question is, that in these instances, are there any plans to "update" the HPO terms later through use of th

[2019-09-25 14:39] sgoehringer commented on #2035
@wrightmw Sorry to get back to you late about this.  Sharing the the label to the website they selected isn't an issue.  I believe we would expect that information in the JSON as "sopVersion": "ABC".

Would it be possible to confirm one thing, just so I am on the same page.  If a curator selects SOP5 it won't change the format of the data that you are sending to the website, right?  The website wi

[2019-09-25 15:36] wrightmw commented on #2035
@sgoehringer The JSON format we send you will always be the current version, it will just be the label that may be different (as selected by the user).

[2019-09-25 15:39] sgoehringer commented on #2035
@wrightmw Thanks for confirming!  We should be good to go.  When do you roughly expect this release?  I recall in slack you said a few weeks... I will make sure we apply a slight wording change to the website display.

[2019-09-25 15:47] wrightmw commented on #1585
@courtneythaxton We have to allow for the option within the interface logic, that for whatever reason a term is not found. The OLS may be down temporarily, for instance, or maybe the curator has typed in the wrong ID (in which case this would be a good error check).  I would advise curators to check the reason why a term cannot be returned. If it's because the OLS is down then perhaps they should

[2019-09-25 17:08] wrightmw commented on #1796
@sgoehringer When this ticket goes live (likely R29), then we'll have contributors/approvers to add to our JSON we provide to you. Can you please work with @markmandell to confirm what format you'd require these to be in within the JSON file, so that we don't break the pipeline by changing the file.

Also @courtneythaxton @ErinRiggs @jennygoldstein, if you want these data displayed on the website

[2019-09-26 17:41] wrightmw commented on #313
Ability to delete would be lost if any notes have been saved to a PMID and/or any curated evidence has been associated.

[2019-09-26 19:04] cgpreston opened #2044 "Curator cannot start prd GCI curation using HGNC symbol in gene list"
Bug reported on 9/24/19: Curator cannot start prd GCI entry for the gene symbol "MPIG6B", however the curator can start curation in the demo GCI for this gene.

@bryanwulf investigated and found that this gene name is in the gene file we use, but was not loaded into the DB. Solution is pending.

Relates to #1988

![thumbnail_70EB4DE9385E4AE8B7061FF32F86C6A7](https://user-images.githubusercontent.c

[2019-09-27 16:52] wrightmw commented on #2037
@bryanwulf @cgpreston New variant reported:
GAA variant(NM_000152.5:c.1857C>G (p.Ser619Arg), ClinVar ID 550825

[2019-09-27 18:57] cgpreston commented on #1787
Need to decide how this affects the calculator in the VCI.

[2019-09-27 19:01] cgpreston commented on #1787
@sharriso

[2019-09-27 19:04] #1806 closed

[2019-09-27 19:11] sharriso commented on #1787
Ah. I think if we rolled that out we'd need a OR between these criteria. I will bring up in next meeting

[2019-09-27 19:11] #1338 closed

[2019-09-30 16:49] cgpreston opened #2046 "VCI error message when generating ClinVar submission data"
Reported by Diane Z:

 Error message when trying to generate ClinVar submission for NM_000277.3(PAH):c.169-2A>G.

Same issue reported by Xi for the following variants:
(NM_004360.5(CDH1):c.360dup (p.His121fs),
NM_004360.5(CDH1):c.467G>A (p.Trp156Ter),
NM_004360.5(CDH1):c.5G>T (p.Gly2Val)).

[2019-10-02 04:14] cgpreston commented on #2046
@bryanwulf: Diane reports that the variants are now publishing to the erepo, so it's only this issue. Thanks!

[2019-10-02 04:16] wrightmw opened #2047 "Automation of splicing predictions within VCI"
Currently in VCI, hyperlinks are provided to splicing prediction tools. Curators then needs to manually enter information into those external tools to get the predictions. Multiple VCEP curators have requested for this process to to be automated within the VCI.

https://broadinstitute.atlassian.net/browse/CSP-54

Scoping is complete, the the following tickets have been filed to support splicing:
1

[2019-10-02 04:26] wrightmw commented on #2047
![](https://github.trello.services/images/mini-trello-icon.png) [Automated Splicing Predictions](https://trello.com/c/rKnAzd59/54-automated-splicing-predictions)

[2019-10-02 04:34] wrightmw commented on #1606
![](https://github.trello.services/images/mini-trello-icon.png) [HMAF data in GCI](https://trello.com/c/AVncMaG0/55-hmaf-data-in-gci)

[2019-10-02 04:38] wrightmw commented on #2008
In order for our gene curation data to be linked to specific OMIM conditions, OMIM requires a one-to-one link between a curation and a specific OMIM disease term.  Our curations are based on MONDO terms.  The OMIM terms that were considered when selecting a particular MONDO term are stored in the Gene Tracking System.

Goals

Improve awareness and use of ClinGen’s gene-disease validity curations b

[2019-10-02 04:53] wrightmw opened #2048 "User controlled bulk data export from VCI"
Curators and groups using VCI need the ability to export all their data at any point in the curation process. Current functionality in VCI is limited to Approved interpretations and is only for ClinVar submission and ERepo publishing. However VCEPs need ability to see all the variants they've touched, see the the status of each, criteria applied to each, classification (if applicable), and so on.

[2019-10-02 04:54] wrightmw commented on #2048
![](https://github.trello.services/images/mini-trello-icon.png) [Bulk data export from VCI](https://trello.com/c/IzfIIhXZ/45-bulk-data-export-from-vci)

[2019-10-02 19:42] wrightmw opened #2049 "Remove adjective from GDM"
For L1CAM (ID/Autism affiliation), a curator added the “recessive” adjective to the MOI (X-linked). The "Recessive" adjective needs to be removed.

[2019-10-02 19:51] wrightmw opened #2050 "Fix GDM affiliation tool"
The GCI tool that moves unaffiliated entries across to affiliations has been used on multiple entries but it appears that some data is not getting moved across to the affiliations.
I'm going to meet with the GC WG and get more examples so that we can see exactly which data is not being transferred.

[2019-10-02 21:05] wrightmw opened #2051 "Direct Functional Data Input in the Experimental Tab"
@miacocca Add description and link to mockup here....

[2019-10-02 21:07] wrightmw commented on #2051
![](https://github.trello.services/images/mini-trello-icon.png) [FDP v2 - Individual Curation](https://trello.com/c/a2Z9ALJp/46-fdp-v2-individual-curation)

[2019-10-02 23:21] gcheung-SF commented on #2005
@wrightmw , @cgpreston , @bryanwulf ,
After transferring an interpretation that's saved as provisional , Christine pointed out that in the "Evaluation Summary" page, under "Saved Provisional and Approved Interpretation(s)" section, the "ClinGen Affiliation" for the provisional has the previous/old affiliation.  This data is from a snapshot that's stored when the evidence was saved as provisional.

[2019-10-04 15:44] #1408 closed

[2019-10-04 15:46] wrightmw opened #2052 "Update MONDO terms via API"
When MONDO terms change we need a way to automatically update the term name in the GCI and VCI. This could by checking the stored MONDO ID via an API to make sure the name is still correct. When a user logs in after a term name has changed then there should be a message to let them know.

[2019-10-04 15:47] wrightmw commented on #2052
This could perhaps be done in unison with #1988

[2019-10-04 23:37] wrightmw opened #2053 "Add new fields to GDMs table on affiliation dashboard"
#1963 allows filtering on dashboard tables.
Curators would also like to be able to filter these tables based on Contributors and on the Classification. These will be added as new columns to these tables, and added as filter options as a future feature.

[2019-10-07 18:23] #1839 closed

[2019-10-07 23:02] wrightmw opened #2054 "Fix GDMs with duplicate evidence"
15 GDMs were transferred across from individuals to the ID/Autism affiliation using the GCI tool. Some of the evidence was copied twice. Kelly will determine which of the duplicate evidence should be kept, and which should be deleted.

<img width="461" alt="Screen Shot 2019-10-07 at 4 02 48 PM" src="https://user-images.githubusercontent.com/15131169/66355388-f678a000-e91b-11e9-8973-4734867179ae.pn

[2019-10-08 17:54] cgpreston commented on #1769
LDH has launched, next step is to review specifications with CIViC team December 5, 2019

[2019-10-09 23:09] cgpreston commented on #2044
@bryanwulf , do we have an ETA for this, will this be something that can be addressed in the upcoming release or do we need to do something else?

[2019-10-10 16:48] courtneythaxton commented on #1996
Hi @wrightmw @cgpreston @bryanwulf

I am about to send an email to the help desk about these issues. One thing I wanted to note here is that I have observed a trend. That the discrepancies in saving the records are happening only within the affiliation groups the user has permissions for. For instance, Megan Mayers is affiliated with both Peroxisomal Disorders GCEP and HCM. I suspect the same is t

[2019-10-11 22:19] cgpreston opened #2055 "Remove GDM"
Please delete this GCI entry for the gene MYOC at the request of the UNC biocuration core team:

 https://curation.clinicalgenome.org/curation-central/?gdm=948e63f6-1c94-494d-abe9-c090da1bb1bc&pmid=19148291

@courtneythaxton

UNC Biocuration Core removed as interim measure

[2019-10-11 22:27] cgpreston opened #2056 "Fix and investigate duplicated GCI entry"
Reported by @courtneythaxton

The following GDM entry exists twice:
Gene: PHEX
Affiliation: UNC Biocuration Core
Disease: X-linked hypophosphatemic rickets
Inheritance: X-linked inheritance (dominant)

Entry 1 has been worked on and should be maintained: https://curation.clinicalgenome.org/curation-central/?gdm=f47f7517-0df7-48cc-8f39-7f3a5469d5fc&pmid=29505567

Entry 2 appears to be a duplicated,

[2019-10-12 17:38] wrightmw opened #2057 "Create GDM"
Create GDM as immediate fix for user in #2044:

Gene: MPIG6B

Disease: MONDO:0044316 (thrombocytopenia, anemia, and myelofibrosis)

MOI: Autosomal recessive inheritance

Adjective: none

Affiliation: Hemostasis/Thrombosis

[2019-10-12 17:52] wrightmw opened #2058 "Duplicated GDM issue"
As reported in #2056, a GDM in the GCI was duplicated. This issue needs to be investigated and fixed.

[2019-10-14 22:30] cgpreston commented on #2046
Possibly related to #2037

[2019-10-16 22:24] bryanwulf commented on #2012
@wrightmw Please confirm the following information (which I can't find on the affiliations spreadsheet):
VCEP Name - Glaucoma VCEP
VCEP ID - 50053

[2019-10-16 23:21] wrightmw commented on #2012
@bryanwulf yes, that's correct. Thanks for checking. I've now updated the spreadsheet too :-)

[2019-10-19 03:28] wrightmw commented on #2004
@bryanwulf Publishing to ERepo not coming up as an option for TP53

[2019-10-19 03:29] wrightmw commented on #2012
@bryanwulf Can't check this in the VCI so you will have to look to see if it's there in the affiliation file.

[2019-10-19 03:30] wrightmw commented on #2014
Publishing to ERepo is an option.

[2019-10-19 03:32] wrightmw commented on #2036
These have indeed been added :-)

[2019-10-19 03:45] wrightmw commented on #2039
Yup... they're all there :-)

[2019-10-19 03:59] wrightmw commented on #2040
@bryanwulf Not sure how we would test this?

[2019-10-20 00:06] bryanwulf commented on #2040
@wrightmw I don't think we distribute this information when publishing, so I'm not sure there is a way to test these changes via the application. I can confirm the updated guidelines names are present in the affiliations file.

[2019-10-20 00:25] bryanwulf commented on #2004
@wrightmw Publishing should be enabled now (needed to fix a typo).

[2019-10-20 22:16] bryanwulf commented on #2012
@wrightmw I can confirm that the VCEP information is in the affiliations file.

[2019-10-21 00:20] wrightmw commented on #2004
Great. @bryanwulf you need to let Ronak know prior to this going live so that the ERepo is ready.

[2019-10-21 00:21] wrightmw commented on #2014
@bryanwulf you need to let Ronak know prior to this going live, so that the ERepo is ready.

[2019-10-21 01:09] wrightmw commented on #1872
Yup. Link is there.

[2019-10-21 01:12] wrightmw commented on #1775
In a future release, this needs to be updated to get these information via the ClinGen Allele Registry.

[2019-10-21 18:51] cgpreston opened #2061 "late addition affiliation for R28"
Please add the following affiliation for the R28 release:

Name: InSiGHT_Dev
Affiliation ID: 10062

They are a commercial group, so no publishing rights should be provided.

@bryanwulf

[2019-10-21 23:23] cgpreston commented on #1915
R28 testing: Confirmed on demo instance. As described.

[2019-10-21 23:24] cgpreston commented on #1890
R28 testing: Confirmed in demo instance, as described. Note: that during the transfer process the evidence becomes associated with the curator who moved it, not the curator who originally entered the evidence.

[2019-10-21 23:38] cgpreston commented on #1922
R28 testing: confirmed on demo instance, as described.

[2019-10-21 23:39] cgpreston commented on #1927
R28 testing: Confirmed on demo instance.

[2019-10-21 23:40] cgpreston commented on #1891
R28 testing: confirmed on demo instance.

[2019-10-22 03:42] cgpreston commented on #1892
R28 testing, tested on variant 12347, I see the comments segregating with the appropriate code when displayed in the criteria panels.

[2019-10-22 03:44] cgpreston commented on #1916
R28 testing, was only able to add a verified HPO term and was blocked from submitting form with non-valid HPO term

[2019-10-22 03:45] cgpreston commented on #1923
R28 testing: see shaded columns.

[2019-10-22 15:34] #2034 closed

[2019-10-22 15:36] wrightmw commented on #1891
R28: Looks good

[2019-10-22 15:37] wrightmw commented on #1892
R28: looks good

[2019-10-22 15:37] wrightmw commented on #1916
R28: looks good

[2019-10-22 15:39] wrightmw commented on #1922
R28: looks good

[2019-10-22 15:40] wrightmw commented on #1927
R28: looks good

[2019-10-22 15:40] wrightmw commented on #1923
R28: looks good

[2019-10-22 15:40] wrightmw commented on #1915
R28: looks good

[2019-10-22 15:41] wrightmw commented on #1890
R28: looks good

[2019-10-22 15:43] wrightmw commented on #1889
R28: looks good

[2019-10-22 16:02] wrightmw commented on #1925
@gcheung-SF I'm not seeing this. Can you please check?

[2019-10-22 16:04] wrightmw commented on #1924
R28: looks good

[2019-10-22 16:06] wrightmw commented on #1882
R28: looks good

[2019-10-22 16:08] wrightmw commented on #1920
R28: looks good

[2019-10-22 16:09] wrightmw commented on #1921
R28: looks good

[2019-10-22 16:11] gcheung-SF commented on #1925
@wrightmw , I can see "For PubMed evidence Details" when adding/editing the evidence.
<img width="1680" alt="Screen Shot 2019-10-22 at 9 07 26 AM" src="https://user-images.githubusercontent.com/45801890/67306517-f2b45400-f4ab-11e9-88f0-313a01496052.png">

[2019-10-22 16:12] wrightmw commented on #1887
R28: looks good

[2019-10-22 16:40] cgpreston commented on #1996
@markmandell  this is the list from Madeline:
1. https://curation.clinicalgenome.org/variant-central/?edit=true&variant=ff8f078d-5475-4695-bf87-20ae95046403&interpretation=bd25523c-7613-4d08-9a6e-9cbcc2a5eb4b&summary=true
    1. SHOULD be associated with Hearing Loss
1. https://curation.clinicalgenome.org/variant-central/?variant=780df01c-95c9-4f09-bc91-28cd710f6e28
    1. SHOULD be RASopathy
1. h

[2019-10-22 17:01] cgpreston commented on #2039
R28 testing: confirmed

[2019-10-22 17:03] cgpreston commented on #1872
R28 testing: confirmed

[2019-10-22 17:07] cgpreston commented on #1775
@bryanwulf is this in the R28 demo release? I'm not seeing it when testing variants 55555 and 6756.

[2019-10-22 17:18] cgpreston commented on #1890
R28 testing: confirmed

[2019-10-22 17:19] cgpreston commented on #1889
R28 testing: confirmed

[2019-10-22 17:20] cgpreston commented on #1924
R28 testing: Confirmed

[2019-10-22 17:20] cgpreston commented on #1882
R28 testing: confirmed :-)

[2019-10-22 17:22] wrightmw commented on #1925
@gcheung-SF Sorry, I wasn't clearer on this. It's supposed to say the PMID number, first author name, and year.  This is not a blocker for this release. We can add this on a later release.

[2019-10-22 17:28] gcheung-SF commented on #1925
@wrightmw , got it.  Yes, that needs to be added as new development.  Thanks.

[2019-10-22 17:29] cgpreston commented on #1920
R28 testing: Confirmed

[2019-10-22 17:31] cgpreston commented on #1887
R28 testing: confirmed as follow:
1. Data shown as "retired" format with an informational hover over
2. Users can convert these PMIDs to the new format with the "add in new format" button
3: Users can then fill out the case-segregation file
4: Users can then delete the retired format entry.

[2019-10-22 17:34] cgpreston commented on #1925
Moving this to R29 milestone.

[2019-10-22 17:46] wrightmw commented on #1775
@cgpreston I believe this ticket was based on the old ClinVar XML and so doesn't bring back results... it needs to be updated to use the ClinGen Allele Registry.

[2019-10-22 20:12] markmandell commented on #1996
@cgpreston edits are complete :)

Going to continue investigating the tab issue and brainstorm a solution. Thinking a redirect back to dashboard based on a check of affiliation that the user is currently logged into.

[2019-10-23 18:02] gcheung-SF commented on #2058
From my investigation, the problem mostly was not created because of bug(s) in our codes.  I could not reproduce the problem on live site.  But will look into codes.

Here are the cases on live site and my findings:

1. Reported in issue #2056, 2 copies of gdm
PHEX – X-linked hypophosphatemic rickets
 https://curation.clinicalgenome.org/curation-central/?gdm=f47f7517-0df7-48cc-8f39-7f3a5469d5fc&pm

[2019-10-24 17:21] GenomeDeb opened #2065 "Evidence Code Selections to Associate Evidence Codes with Publications"
(From discussion on Biocurators call  10-24-19, Matt requested issue creation)

When choosing an evidence code to associate with a publication, the publication itself may not stand alone to fulfill that evidence code. Suggestions were to create some additional identifying language to help specify if the publication satisfies (1) in full, (2) in part or (3) cannot be used to fulfill the evidence co

[2019-10-25 19:33] wrightmw opened #2066 "Publishing GDM unavailable for Semidominant MOI"
Curator has reported that they are unable to publish a GDM (https://curation.clinicalgenome.org/curation-central/?gdm=d5846d42-9bbb-4c4d-8d66-93d4cb3f635e&pmid=2813350).

Curator tried to publish the record today, Oct 25, 2019, right after they saved it as approved, at 12:45 PM EDT. It displayed:

 "The option to publish an approved classification is unavailable when any of the following apply: 1)

[2019-10-25 21:04] markmandell commented on #1996
@cgpreston @wrightmw @courtneythaxton

Here is the instance for this ticket/bug: https://1996-mm-incorrectaffiliation.demo.clinicalgenome.org/

Here are the steps to test.

Should the affiliation users are curating under conflict with the affiliation they are currently signed in with, they are prompted to return to the dashboard/homepage via a modal, and cannot proceed with the interpretation.

1.

[2019-10-28 01:12] wrightmw commented on #2040
In R28 release

[2019-10-28 01:12] #2040 closed

[2019-10-28 01:12] wrightmw commented on #2039
In R28 release

[2019-10-28 01:12] #2039 closed

[2019-10-28 01:13] wrightmw commented on #2036
In R28 release

[2019-10-28 01:13] #2036 closed

[2019-10-28 01:20] wrightmw commented on #2061
Released in R28

[2019-10-28 01:20] #2061 closed

[2019-10-28 01:20] wrightmw commented on #2004
Released in R28

[2019-10-28 01:20] #2004 closed

[2019-10-28 01:20] wrightmw commented on #1872
Released in R28

[2019-10-28 01:20] #1872 closed

[2019-10-28 01:21] wrightmw commented on #2012
Released in R28

[2019-10-28 01:21] #2012 closed

[2019-10-28 01:21] wrightmw commented on #1924
Released in R28

[2019-10-28 01:21] #1924 closed

[2019-10-28 01:21] wrightmw commented on #1927
Released in R28

[2019-10-28 01:21] #1927 closed

[2019-10-28 01:21] wrightmw commented on #1891
Released in R28

[2019-10-28 01:21] #1891 closed

[2019-10-28 01:21] wrightmw commented on #1890
Released in R28

[2019-10-28 01:21] #1890 closed

[2019-10-28 01:22] wrightmw commented on #1889
Released in R28

[2019-10-28 01:22] #1889 closed

[2019-10-28 01:22] wrightmw commented on #1892
Released in R28

[2019-10-28 01:22] #1892 closed

[2019-10-28 01:22] wrightmw commented on #1882
Released in R28

[2019-10-28 01:22] #1882 closed

[2019-10-28 01:22] wrightmw commented on #1920
Released in R28

[2019-10-28 01:22] #1920 closed

[2019-10-28 01:23] wrightmw commented on #2014
Released in R28

[2019-10-28 01:23] #2014 closed

[2019-10-28 01:23] wrightmw commented on #1923
Released in R28

[2019-10-28 01:23] #1923 closed

[2019-10-28 01:23] wrightmw commented on #1887
Released in R28

[2019-10-28 01:23] #1887 closed

[2019-10-28 01:24] wrightmw commented on #1915
Released in R28

[2019-10-28 01:24] #1915 closed

[2019-10-28 01:24] wrightmw commented on #1926
Released in R28

[2019-10-28 01:24] #1926 closed

[2019-10-28 01:24] wrightmw commented on #1922
Released in R28

[2019-10-28 01:24] #1922 closed

[2019-10-28 01:24] wrightmw commented on #1921
Released in R28

[2019-10-28 01:24] #1921 closed

[2019-10-28 01:25] wrightmw commented on #1916
Released in R28

[2019-10-28 01:25] #1916 closed

[2019-10-28 17:18] gcheung-SF opened #2068 "Internal Error causing AWS alerts - "Apache Mapper Parsing Error", "Elasticsearch-prod-ERROR""
The following error was found during indexing the history object when a case-segregation extra-evidence (with new format) was created.

Traceback (most recent call last):
  File "/srv/clincoded/src/contentbase/elasticsearch/indexer.py", line 198, in update_object
    request_timeout=60,
  File "/srv/clincoded/eggs/elasticsearch-1.7.0-py3.4.egg/elasticsearch/client/utils.py", line 69, in _wrapped

[2019-10-28 21:56] #1775 closed

[2019-10-28 21:56] cgpreston commented on #1775
@wrightmw is going to file a new ticket for this functionality.

[2019-10-28 22:02] wrightmw opened #2069 "Capture CAids via alternative source"
Following on from #1775

CAids are now captured for all new variants but ClinVar updated their XML, so not all variants get these data now. So, could pull in data from an alternative source, e.g. either the updated ClinVar XML and/or the ClinGen Allele Registry.

[2019-10-28 22:07] cgpreston commented on #2021
Closing in favor of #2035

[2019-10-28 22:07] #2021 closed

[2019-10-28 22:11] cgpreston commented on #2015
Closing this in favor of #1996

[2019-10-28 22:11] #2015 closed

[2019-10-28 22:12] cgpreston commented on #1979
@gcheung-SF, can you update the status of this ticket?

[2019-10-28 22:14] cgpreston commented on #1878
Dependent upon completion of #2005

[2019-10-28 22:16] cgpreston commented on #2046
@wrightmw to test this by adding back in the variant and then asking Diane to resubmit.

[2019-10-28 22:16] cgpreston commented on #2046
May be fixed by ClinVar fixes.

[2019-10-28 22:51] gcheung-SF commented on #1930
Deployed in R28.

[2019-10-28 22:53] #1930 closed

[2019-10-28 22:55] gcheung-SF commented on #1919
Deployed in R27.

[2019-10-28 22:55] #1919 closed

[2019-10-28 23:12] cgpreston commented on #2049
Confirmed on prd, thanks @h-tong!

[2019-10-28 23:18] wrightmw commented on #2049
👍

[2019-10-29 04:58] wrightmw opened #2070 "Change MONDO ID in GDM"
Please change the disease entity for ID/Autism’s curation of GRIA3 to Complex Neurodevelopmental Disorder (MONDO:0100038)

[2019-10-29 23:16] cgpreston commented on #1996
@markmandell , I've been testing this and I can't get the modal to come up to warn me that the affiliations conflict with one another, can you show me on Wed at the office? I like the yellow warning box, I think that nicely conveys the issue. Thanks!

[2019-10-29 23:28] markmandell commented on #1996
No problem! I'll show you tomorrow :)

[2019-10-30 21:40] wrightmw commented on #1899
Approved by GC WG chairs on October 29, 2019

[2019-11-06 22:27] cgpreston commented on #2037
@bryanwulf , Matt and I have both gone to the Evidence View of all variants from this spreadsheet: https://docs.google.com/spreadsheets/d/1W8c-gXW0qLwgphc6s-9G8WfP6YgGs0qDr9enXVLvvhM/edit#gid=0.  Can we close this ticket?

[2019-11-07 08:40] bryanwulf commented on #2037
@cgpreston Yes, I think this ticket can be closed. All of the specific variants referenced here (that I could find) had their expected data (such as GRCh37 and GRCh38).

[2019-11-07 19:02] #2037 closed

[2019-11-07 22:51] cgpreston opened #2073 "gnomAD short term updates"
1. Add "v2.1.1" to the gnomAD banner
2. Change the current gnomAD link-out to state that it goes to "v2.1.1"
3. Explore providing link-out to the variant in gnomAD v3 (strong nice to have)

[2019-11-07 22:55] cgpreston commented on #2073
@bryanwulf @h-tong do you think we could squeeze this into the release next week?

[2019-11-08 17:41] wrightmw opened #2074 "Change MONDO disease term in Interpretation"
The MONDO term associated with MONDO:0011071 was recently updated from “hereditary thrombocytopenia with normal platelets-hematologic cancer predisposition syndrome” to “hereditary thrombocytopenia and hematologic cancer predisposition syndrome” and this change is now reflected on the MONDO page and in OLS.

When Myeloid Malignancy EP attempted to change the term in their interpretation record (Cl

[2019-11-08 21:34] #2049 closed

[2019-11-08 21:34] cgpreston commented on #2049
Closing

[2019-11-08 21:40] cgpreston commented on #313
@h-tong  is this functionality addressed in the 1486 code? Thanks!

[2019-11-08 21:42] cgpreston commented on #2057
Will ask curator to use 2044 functionality to resolve this issue.

[2019-11-08 21:43] wrightmw commented on #2054
@h-tong Have all the edits been done now?

[2019-11-08 21:44] h-tong commented on #313
@cgpreston no, 313 is added on top of 1486, but they are separate branches.

[2019-11-08 21:44] h-tong commented on #2054
@wrightmw Yes, they are done.

[2019-11-08 21:55] cgpreston commented on #2073
Issue 1 is likely addressed by #1107

[2019-11-08 21:56] cgpreston commented on #2046
Further testing by @bryanwulf  does not support the ClinVar fixes addressing this issue.

[2019-11-08 22:10] cgpreston commented on #313
Thanks @h-tong!

[2019-11-12 22:04] cgpreston commented on #1963
confirmed by testing on R29 release, looks great @gcheung-SF, thank you!

[2019-11-12 22:07] cgpreston commented on #1979
tested on R29 release candidate, looks great @gcheung-SF , thank you!

[2019-11-13 18:07] wrightmw commented on #1979
R29 testing: Looks great!

[2019-11-13 18:09] wrightmw commented on #1107
R29 testing: Looks great!

[2019-11-13 18:09] wrightmw commented on #1963
R29 testing: Looks great!

[2019-11-13 22:39] cgpreston opened #2075 "Update HPO browser links"
Identified by @bryanwulf on 11/13/19, the HPO browser link needs to be updated to the new domain (ex: https://hpo.jax.org/app/browse/term/HP:0000007)

[2019-11-14 00:18] wrightmw opened #2076 "Fix broken HPO links"
Currently links to HPO follow this URL structure, which is now broken: https://hpo.jax.org/app/browse/term?id=HP:0000118

These URLs need to instead follow this new structure: https://hpo.jax.org/app/browse/term/HP:0000118

HPO links are found in the following locations in the GCI:

1) Group

![Screen Shot 2019-11-13 at 4 00 32 PM](https://user-images.githubusercontent.com/15131169/68815270-da1107

[2019-11-14 00:25] wrightmw commented on #2075
Copied from #2076

Currently links to HPO follow this URL structure, which is now broken: https://hpo.jax.org/app/browse/term?id=HP:0000118

These URLs need to instead follow this new structure: https://hpo.jax.org/app/browse/term/HP:0000118

HPO links are found in the following locations in the GCI:

1) Group

![Screen Shot 2019-11-13 at 4 00 32 PM](https://user-images.githubusercontent.com/15131

[2019-11-14 00:26] wrightmw commented on #2076
Duplicate ticket... closed in favor of pre-existing ticket #2075

[2019-11-14 00:26] #2076 closed

[2019-11-15 00:38] cgpreston opened #2077 "GDMs to be transferred to an affiliation"
The GDM transfer tool is currently unusable (see #2054, #2050). This ticket is to capture GDMs to be moved once we have addressed that issue.

From Elizabeth McCormick: Request to Move MRPS34 to Mitochondrial Affiliation (11/14)

[2019-11-15 21:14] wrightmw commented on #1979
In R29 release.

[2019-11-15 21:14] #1979 closed

[2019-11-15 21:15] wrightmw commented on #1963
In R29 release.

[2019-11-15 21:15] wrightmw commented on #1881
In R29 release.

[2019-11-15 21:15] #1881 closed

[2019-11-15 21:16] wrightmw commented on #1107
In R29 release.

[2019-11-15 21:16] #1107 closed

[2019-11-15 21:18] wrightmw commented on #2068
In R29 release.

[2019-11-15 21:18] #2068 closed

[2019-11-15 21:18] wrightmw commented on #2054
In R29 release.

[2019-11-15 21:18] #2054 closed

[2019-11-18 20:00] wrightmw opened #2078 "Support Allele Registry CACN IDs in gene and variant curation"
CAR has implemented new CACN IDs that represent CNV variants. We need to update the GCI/VCI so that it can accept these new IDs.
Example of new CACN ID in the CAR: http://reg.clinicalgenome.org/allele/CACN36824158

https://broadinstitute.atlassian.net/browse/CSP-70

[2019-11-18 20:04] wrightmw commented on #2078
In the VCI:

1) When adding a new variant record. Currently, the choice is ClinVar ID and or CA ID... this will need to be expanded to include CACN ID as an option.

2) Variant title - needs to be updated so that title can be based on new CACN title

In the GCI:

3) Everywhere that a variant is currently added, then CACN ID and PA ID () need to be additional options.

[2019-11-18 22:51] wrightmw commented on #2078
![](https://github.trello.services/images/mini-trello-icon.png) [Support Allele Registry CACN IDs in gene and variant curation](https://trello.com/c/L6kcXmzj/64-support-allele-registry-cacn-ids-in-gene-and-variant-curation)

[2019-11-18 23:45] wrightmw commented on #1985
Brain Malformations EP suggested upload of patient MRI images as another use case.

[2019-11-19 01:06] wrightmw commented on #2078
@erinriggs @marinadistefano @courtneythaxton @jennygoldstein

[2019-11-19 04:58] #2051 closed

[2019-11-19 19:04] h-tong opened #2079 "Disable submit/save buttons in the GCI after a single click"
Some duplications of data in the GCI seem to have been caused by a repeated click on the submit or save button when the interface is seemingly unresponsive, but it was possibly just slow.

1. Add a disable/busy icon to the "Submit" button when creating a new gene-disease record
2. Add a disable/busy icon to the individual, experimental, case-control "Save" buttons when the user tries to add/edit t

[2019-11-20 10:15] bryanwulf commented on #2016
Included in R28

[2019-11-20 10:15] #2016 closed

[2019-11-20 16:42] wrightmw commented on #2055
Also, remove this GDM at request of MDEP:

https://curation.clinicalgenome.org/curation-central/?gdm=b0e41840-f1f5-4e2b-9ff2-c981de6e5fc7#

[2019-11-20 19:01] wrightmw commented on #2070
@h-tong
Here is the new one I mentioned earlier on slack. Change MONDO ID to MONDO:0015967 in this record:

https://curation.clinicalgenome.org/curation-central/?gdm=b0e41840-f1f5-4e2b-9ff2-c981de6e5fc7#

[2019-11-20 19:29] #2017 closed

[2019-11-20 21:36] cgpreston commented on #2070
Inspected on Prd, looks as expected for both curations, thanks @h-tong!

[2019-11-20 21:37] cgpreston commented on #2074
Inspected on prd, looks as expected, thanks @h-tong!

[2019-11-20 21:37] cgpreston commented on #2041
looks as expected on prd, thanks @h-tong!

[2019-11-20 21:47] wrightmw commented on #2070
Looks great! Thank you @h-tong

[2019-11-20 21:50] cgpreston opened #2080 "Delete interpretations in VCI"
Please remove the following VCI entries:
Two curations for ClinVar ID: 44746, one made by the Hearing Loss Affiliation, the other by curator Madeline Hughes.

As of 11/20/19 they were the only interpretations for the variant in the VCI.

https://curation.clinicalgenome.org/variant-central/?variant=02e25334-5ef6-4696-b190-e2fcca59555a

[2019-11-20 21:56] wrightmw commented on #2074
Looks good! Thanks @h-tong

[2019-11-20 22:02] wrightmw commented on #2041
Looks good! Thanks @h-tong

[2019-11-20 23:49] #2041 closed

[2019-11-20 23:49] #2070 closed

[2019-11-20 23:49] #2074 closed

[2019-11-21 19:55] cgpreston commented on #1963
<img width="1065" alt="Dashboard" src="https://user-images.githubusercontent.com/46766411/69371393-98e2ad80-0c54-11ea-99a2-137c8a418f24.png">

[2019-11-22 19:22] h-tong opened #2082 "Incorrect dashboard history timestamp"
After deleting a group, family, or individual from a GDM, the action shows up in the dashboard history; however, the timestamp displays the current date and time instead of when the action was actually performed.

This is due to the wrong field being used to display the date and time.

[2019-11-22 22:06] h-tong commented on #1988
@wrightmw do you know the HGNC API that we would be requesting the gene data from?

[2019-11-22 23:21] wrightmw commented on #1988
@h-tong Yes, it's here: https://www.genenames.org/help/rest/

[2019-11-25 09:46] bryanwulf commented on #1868
@wrightmw Is the following variant (CA321211) an example of one with a MANE transcript?
http://reg.clinicalgenome.org/redmine/projects/registry/genboree_registry/by_canonicalid?canonicalid=CA321211

[2019-11-25 15:07] wrightmw commented on #1868
@bryanwulf Yes, that variant does have a MANE transcript.

[2019-11-27 16:51] wrightmw commented on #1899
Currently, within the GCI in the "All classifications for this record in the Gene Curation Interface (GCI)" table, under "Other classifications" users can see all other classifications made by other users within the GCI. See a made up example here:

![Screen Shot 2019-11-27 at 8 46 00 AM](https://user-images.githubusercontent.com/15131169/69743095-b56a6400-10f2-11ea-8444-12e71c686331.png)

As you

[2019-11-27 17:32] wrightmw commented on #1796
Example of current application of this ticket:

![Screen Shot 2019-11-27 at 9 04 32 AM](https://user-images.githubusercontent.com/15131169/69745992-2fe9b280-10f8-11ea-9317-b4fd05f9648d.png)

There is now only one Curation Approver allowed. However, multiple Curation Contributors are still allowed.

On the large GC WG call today, it was suggested that the following text changes be made:
- "Curation

[2019-11-27 17:34] wrightmw commented on #1796
@markmandell Text changes above would apply to the publication panel also.

[2019-11-27 17:41] wrightmw commented on #1796
@markmandell @bryanwulf
In most cases an affiliation would only have a "ClinGen affiliation" associated with it, and we export that to the streaming service/website. However, if the user selected an alternative Approver (note: currently on this mockup this is the "Curation Approver" but changing to "Classification Approver") then instead that should be the only one exported to the streaming servic

[2019-11-27 17:45] markmandell commented on #1796
@wrightmw Sounds good, I'll make the changes and update the instance.

As for what's being sent to the website, it looks to me like we would be sending both. But if one needs to be prioritized over the other or we only want to send one approver, we can decide which is best!

[2019-11-27 17:51] wrightmw commented on #1796
Thanks @markmandell

@sgoehringer would you ok with us sending you both? And you would just display one of them?

[2019-11-27 18:13] wrightmw commented on #1868
Currently Variant titles are derived via the following formula:
1---- use "ClinVar preferred title" if present
2---- if there is no "ClinVar preferred title" then use title based on the "single canonical RefSeq transcript from Ensembl VEP"
3---- if there is no "ClinVar preferred title" and no "single canonical RefSeq transcript from Ensembl VEP", then then use title based on "GRCh38 genomic HGVS"

[2019-12-02 18:30] wrightmw opened #2086 "New affiliations for R30 release"
List of new affiliations to be added in R30 release:
Charcot-Marie-Tooth GCEP (AffiliationID: 10063)

[2019-12-03 21:57] cgpreston commented on #2046
We have another report of this issue by Madeline: https://curation.clinicalgenome.org/variant-central/?edit=true&variant=0239c96b-9229-4d72-97df-9c621eea3836&interpretation=77516727-ce20-4572-a118-1fa6f09a2a32&summary=true

[2019-12-03 22:01] shaungc-su commented on #2082
`history.last_modified` should be `history.primary.last_modified` instead. Currently, `history.last_modified` will be `undefine`. In such case, it will be equivalent to `moment(undefine)`. Seems like `moment()` will just return current datetime if the argument is undefine, this is likely the cause.

Seems like create and modified are not suffering from this issue, since their timestamp field is st

[2019-12-04 05:04] wrightmw commented on #1868
@shaungc-su
Where the "RefSeq transcript MANE from CAR" is applied for the title then the "MANE preferred transcript" is obtained from the CAR and this is used to transpose the variant title by including the "Gene" and "Amino-acid change" (note: the "Amino-acid change" will only be available for protein-coding regions and so this will not be available for all variants).

So, for instance the MANE

[2019-12-04 05:19] wrightmw commented on #2082
@shaungc-su
This looks correct to me. I added several permutations of G, F, and I, and in each instance when I deleted them the deletion event now showed up on the Recent History table in the dashboard with the correct deletion timestamp. I can also confirm that when I waited and refreshed my browser the deletion timestamps remained with the correct times. Thank you!

[2019-12-04 18:41] cgpreston commented on #2082
I also tested this and it looks right to me as well, in each instance (family, group and two individuals) I deleted the evidence, saw the event appear on the Recent History tab, refreshed the page,  signed in and out and the timestamps remained correct. Thanks @shaungc-su !

[2019-12-05 09:23] bryanwulf commented on #2044
@cgpreston The **MPIG6B** gene has been added to the DB, so the curator should be able to start a curation on it now.

[2019-12-05 16:58] cgpreston commented on #2044
@bryanwulf , thanks. I'll close this ticket then.

[2019-12-05 16:58] #2044 closed

[2019-12-05 20:18] cgpreston opened #2088 "Display Explanation text formatting in the Evaluation Summary"
Text formatting, specifically line breaks, entered in the criteria evaluation section of the VCI are not maintained in the evaluation explanation in the evaluation summary section. The desired behavior is for the evaluation explanation text to mirror the criteria evaluation text

See screenshots.

**Example 1:**
![Screen Shot 2019-12-05 at 1 01 30 PM](https://user-images.githubusercontent.com/4676

[2019-12-05 21:01] wrightmw commented on #2057
#2044 fixed, so this can be closed.

[2019-12-05 21:01] #2057 closed

[2019-12-06 23:04] shaungc-su commented on #1868
Some updates -

Made a quick confirm with Matt previously about the title and data sourcing logic. Below is for record & summary. Please feel free to provide any feedback.

### Variant Title format

 * When both gene name and protein effect information are available, the format will be `NM_002496.4(Gene):c.64C>T (Amino-acid change)`.
 * When gene name is unavailable, the format will be `NM_002496.

[2019-12-06 23:43] wrightmw commented on #1868
@shaungc-su
Note: When gene name is unavailable, then there will also be no "Amino-acid change" so the format will be NM_002496.4:c.64C>T

[2019-12-06 23:48] shaungc-su commented on #1868
@wrightmw I see, will apply restriction to reflect this.

[2019-12-06 23:50] wrightmw commented on #1868
@shaungc-su maybe if there is no "Gene" then can be no MANE transcript so it would skip to option 4---- if there is no "ClinVar preferred title" and no "RefSeq transcript MANE from CAR" and no "single canonical RefSeq transcript from Ensembl VEP", then then use title based on GRCh38 genomic HGVS

[2019-12-09 17:14] wrightmw opened #2089 "Remove/Transfer Gene-Disease Record in GCI"
https://curation.clinicalgenome.org/curation-central/?gdm=897bbd7b-6a7f-4d8f-a0a1-b95b30f0a6ca needs either be marked as removed/deleted OR the record could be transferred to Congenital Myopathies (10031)?

[2019-12-09 17:29] gcheung-SF commented on #2089
Manually transferred the gene-disease record to Congenital Myopathies (10031).

[2019-12-09 19:13] courtneythaxton opened #2090 "Change of MonDO ID for gene HNF1B"
HI @wrightmw @cgpreston

The Monogenic Diabetes GCEP has need to change the MonDO ID for the curation of HNF1B: https://curation.clinicalgenome.org/curation-central/?gdm=a280b297-113d-4af0-9ca1-3d411747ab85&pmid=15068978

From the MonDO ID of  MONDO:0015967 to the new ID of MONDO:0007669 (renal cysts and diabetes syndrome).

[2019-12-09 19:34] wrightmw commented on #2090
@courtneythaxton Thanks for creating this ticket.

[2019-12-09 19:41] wrightmw opened #2091 "Add C12ORF65 to HGNC gene list"
Curator unable to start GDM using HGNC gene symbol C12ORF65:

![Screen Shot 2019-12-09 at 11 38 24 AM](https://user-images.githubusercontent.com/15131169/70466739-aed7d700-1a78-11ea-8119-f4974d4934df.png)

I also tried to do this and get the same "HGNC gene symbol not found" message.

Please make sure C12ORF65 is available from the HGNC list for creating GDMs.

[2019-12-09 20:40] wrightmw opened #2093 "Ability to add tags to interpretations"
Tag use cases:

1.  Alerts (e.g. new publication, new ClinVar entry, time for re-evaluation, etc) Auto-tags added by VCI
     - New ClinVar entry
         - Triggered by: new ClinVar entry for the variant that is a different (3-level: B/VUS/P) pathogenicity than the approved and submitted to ClinVar curation by the VCEP.
      - Re-evaluation:
         - Triggered by: 2 years from approval date fo

[2019-12-09 21:16] wrightmw opened #2094 "Restrict GDM creation to GCEPs"
Only allow ClinGen GCEPs to create a GDM.

Requires discussion/agreement by large GC WG.

@courtneythaxton

[2019-12-10 00:49] shaungc-su commented on #1868
@wrightmw Just want to check in with you on the tooltips of the title, and see if we want make some changes here:

![Screen Shot 2019-12-09 at 4 45 10 PM](https://user-images.githubusercontent.com/57968339/70485286-5cf87680-1aa3-11ea-9cb8-37e1f8ec43b8.png)

As you can see, the tooltip describes the criteria of how preferred variant title is yield. Since we are incorporating MANE transcript in, I g

[2019-12-10 19:06] cgpreston commented on #2089
@gcheung-SF, may we add another to this ticket or should we start a new ticket?

 https://curation.clinicalgenome.org/curation-central/?gdm=f2cbcabc-f34c-4d0b-9f46-c2ecd4af1b51&pmid=9048935 needs to be moved to Aminoacidopathy (10011).

[2019-12-10 19:23] wrightmw commented on #2089
@cgpreston I would suggest adding to a separate ticket. The one you are showing has an awful of evidence associated. So maybe this can wait until our tool is sorted? Whereas this specific ticket was for an example that had no evidence and so could be sorted quickly. I was planning on closing this ticket now that it has been done.

[2019-12-10 19:38] cgpreston commented on #2089
OK, thanks @wrightmw!

[2019-12-10 19:40] cgpreston opened #2095 "GDM transfer requests"
Please transfer this PAH GDM https://curation.clinicalgenome.org/curation-central/?gdm=f2cbcabc-f34c-4d0b-9f46-c2ecd4af1b51&pmid=9048935 to the Aminoacidopathy affiliation (10011).

Another request (12/20/19): Please transfer this GDM for MYL1 https://curation.clinicalgenome.org/curation-central/?gdm=62800c79-e598-4557-866d-c136198da85f&pmid=30215711 to Congenital Myopathies (10031)

[2019-12-11 22:40] shaungc-su commented on #1868
As mentioned in today's meeting, below is a benchmark of current LDH + Genomic AR approach.

LDH should be an optimal source for MANE, as it gives the MANE transcript for a variant w/o additional query; unfortunately, many variants can't be found in LDH yet, but we can expect LDH to fill up more data in the future.

As a workaround, we use genomic AR where MANE info is also available. However, aft

[2019-12-12 15:02] wrightmw commented on #1868
@shaungc-su To clarify your point about "a maximum of 4 genes associated with a variant" written above. The CAR caps the number of genes returned at 2, so in all instances there will be either 0, 1, or 2 genes associated with a variant. There could outlier complex loci with more than 2 genes associated ... but the CAR caps at 2 genes, so maybe we should do the same?

[2019-12-12 18:18] shaungc-su commented on #1868
@wrightmw Indeed, what you said let me think of a question - MANE is at transcript level and is singular among other transcripts of that variant, but because of the way we do cross-query here - we locate a gene w/ MANE first, then try to go back to the transcript. But if the gene covers multiple variants, the MANE we found in genomic AR could be from another variant, so that result may not be what

[2019-12-17 21:09] cgpreston commented on #2075
Confirmed tested and saw as expected on R30 release candidate 12/17/19. Thanks @shaungc-su!

[2019-12-17 21:33] cgpreston commented on #1984
Confirmed expected link in R30 candidate, thanks @h-tong!

[2019-12-17 22:02] cgpreston commented on #2082
Confirmed expected behavior on R30 test candidate, thanks @shaungc-su!

[2019-12-17 22:09] cgpreston commented on #1336
Confirmed expected functionality on the R30 release candidate, thanks @gcheung-SF

[2019-12-17 23:34] cgpreston commented on #1178
tested on R30 release candidate, the intermediate page displays and refers to the non-variant-associated proband. Thanks @markmandell!

[2019-12-17 23:36] wrightmw commented on #2086
New affiliation is present and correct :-)

[2019-12-17 23:46] wrightmw commented on #1796
@bryanwulf @markmandell
"Classification Approver(s)" used to be multi-choice with a type ahead functionality, but this field got changed by request to just a single "Classification Approver" and a pulldown was instituted instead. Finding the one you are looking for in the pulldown is not very user friendly because it's a long list (and will get longer) and they are not in any perceivable order. Wo

[2019-12-17 23:51] wrightmw commented on #1178
Looks correct to me. Thanks @markmandell

[2019-12-17 23:51] wrightmw commented on #1336
Looks correct to me. Thanks @markmandell

[2019-12-17 23:53] wrightmw commented on #2082
Looks good to me. Thanks @shaungc-su

[2019-12-18 00:05] wrightmw commented on #1796
@markmandell The type ahead functionality is working for me now! So looks good.

[2019-12-18 00:08] wrightmw commented on #1796
@markmandell @bryanwulf Will the contributors appear on the website once published? If not, then we still need to have an indicator to our users that this will appear at a later time.

[2019-12-18 00:20] wrightmw commented on #1796
@markmandell @bryanwulf So, for instance... here where I've provided "Classification Contributors" there needs to be some text letting folks know that "Classification Contributors can be published but will not appear on the ClinGen website until  it has been updated to support this new field":

![Screen Shot 2019-12-17 at 4 11 53 PM](https://user-images.githubusercontent.com/15131169/71045189-f732

[2019-12-18 00:31] cgpreston commented on #1796
@wrightmw, I suspect some people will be interested in knowing if the website will then retroactively show any Classification Contributors for curations published between this feature going live in the VCI and the website support for the field.

[2019-12-18 00:35] cgpreston commented on #1796
If the website implementation is retroactive, maybe something like "Classification Contributors may be added and the curations published in the VCI now, the classification contributors will not appear on the ClinGen website until the website supports displaying this new field.".  If it's not retroactive then I think we need different language.

[2019-12-18 00:46] cgpreston commented on #2086
confirmed as well :-)

[2019-12-18 00:59] sgoehringer commented on #1796
Support for the display will be retroactive.

[2019-12-18 02:12] wrightmw commented on #1796
That looks great... here again with very minor tweaks:
"Classification Contributors may be added and then published in the VCI now, however classification contributors will not appear on the ClinGen website until the website supports displaying this new field.".

[2019-12-18 02:24] courtneythaxton commented on #1796
Would you all consider this language?
"At present, designation of Classification Contributors is restricted to the VCI/GCI. In the future, Classification Contributors will appear on curation summaries published to the ClinGen website and/or ERepo to facilitate recognition."

[2019-12-18 03:47] sgoehringer commented on #1796
I like the version Courtney shared.

Sent from my iPhone

[2019-12-18 03:57] ErinRiggs commented on #1796
Scott, when do you anticipate this being available on the website?  If it is going to be lengthy amount of time, we may want to add something like: "In the interim, consider mentioning the Classification Contributors in the free text evidence summary to acknowledge their work."

Also, please use "Evidence Repository" instead of "ERepo" in case people don't know what that is.

Erin Rooney Riggs, MS

[2019-12-18 04:40] wrightmw commented on #1796
Ok. Great. Thanks guys. Let's go with Courtney's text.

[2019-12-18 04:44] wrightmw commented on #1796
But with "Evidence Repository" instead of "ERepo". So the text would be:

"At present, designation of Classification Contributors is restricted to the VCI/GCI. In the future, Classification Contributors will appear on curation summaries published to the ClinGen website and/or Evidence Repository to facilitate recognition.""

[2019-12-18 04:46] wrightmw commented on #1796
But with "Evidence Repository" instead of "ERepo". So the text would be:

"At present, designation of Classification Contributors is restricted to the GCI. In the future, Classification Contributors will appear on curation summaries published to the ClinGen website and/or Evidence Repository to facilitate recognition."

[2019-12-18 05:12] wrightmw commented on #1984
Looks great! Thanks @h-tong

[2019-12-18 05:12] wrightmw commented on #2075
Update links are correct. Thanks @shaungc-su

[2019-12-18 05:30] wrightmw commented on #1747
@markmandell  I think the requirement for this ticket is that a proband would require either HPO IDs or HPO free text in order to be scored. The current functionality in the release candidate is for HPO free text only to be a requirement, but adding in HPO IDs should also suffice for scoring.
@courtneythaxton can you please confirm this?

[2019-12-18 05:32] wrightmw commented on #2035
@sgoehringer I know you were in contact with @bryanwulf over this ticket recently. Can you confirm that implementing this SOP version number in our output to you is not going to cause you any issues?

[2019-12-18 13:20] sgoehringer commented on #1796
Regarding Erin’s question....  I see Tristan later today and I can confirm timing because he is tasked with the work needed to consume the data into the service that the website utilizes for display.

Sent from my iPhone

[2019-12-18 18:36] cgpreston commented on #2035
My testing indicated that this feature is working as expected in the VCI UI. Thanks @markmandell!

[2019-12-18 20:38] sgoehringer commented on #2035
Tristan confirmed that the feature is available in the production site and he is in communication with @bryanwulf about a tester server as well.

[2019-12-19 00:26] wrightmw opened #2099 "Update Affiliations for R30"
The Hemoglobinopathy EP has passed its first approval step, so we need to update their placeholder affiliation in the database to amend the name and add VCI publishing details:
Affiliation: Hemoglobinopathy
AffiliationID: 10052
VCEP name: Hemoglobinopathy VCEP
VCEP ID: 50052

[2019-12-19 00:37] wrightmw commented on #2099
Also, the von Willebrand Disease EP has also passed its first approval step, and so also needs their names and VCI publishing details to be updated:
Affiliation: von Willebrand Disease
AffiliationID: 10051
VCEP name: von Willebrand Disease VCEP
VCEP ID: 50051

[2019-12-19 00:40] wrightmw commented on #2099
@gcheung-SF @bryanwulf Can we get these updates into the R30 release?

[2019-12-20 16:35] wrightmw opened #2100 "Updates to Functional Data Pipeline (phase 2)"
R31 release will bulk upload for functional assay data from publications for display in the VCI via the Functional Data Pipeline (FDP), which will include data capture/entry in a structured spreadsheet format, functional data storage in the FDRepo, and structured data display within VCI ‘Experimental Tab’

This request is to follow up on the base functionality of the FDP with additional functional

[2019-12-20 20:42] gcheung-SF commented on #2099
@wrightmw , @cgpreston, I have updated the affiliations and updated it on the R30 release candidate.  Please let me know if there's any problem.  Thanks.

[2019-12-20 21:50] cgpreston opened #2102 "Change MONDO for RAD21 GDM"
Please change the RAD21 under the ID/Autism affiliation curation from MONDO:0013864 to MONDO:0016033, the generic term for Cornelia de Lange syndrome. See screenshot.

![Screen Shot 2019-12-19 at 3 47 51 PM](https://user-images.githubusercontent.com/46766411/71295169-b1b3b100-232f-11ea-8bd9-21890d9721a6.png)

[2019-12-23 18:19] courtneythaxton opened #2103 "Change of MonDO for gene HCN1"
The Epilepsy GCEP requests a change to the disease entity for the HCN1 gene curation: https://curation.clinicalgenome.org/curation-central/?gdm=8ad2a522-5c68-480b-b37e-7d3d228671ba&pmid=12890777

The current disease entity is undetermined early onset epileptic encephalopathy (MONDO:0018614).

**We would like it changed to Complex Neurodevelopmental Disorder (MONDO:0100038)**

this change is requir

[2020-01-08 16:59] wrightmw opened #2104 "Add Approvers to Affiliations"
The following affiliations have designated approvers that need to be added to their affiliations files:
CMT (10063)
Stephan Zuchner
Dana Bis-Brewer
Courtney Thaxton
Megan Mayers
May Flowers

LGMD (10061)
Chris Weihl
Elizabeth Kearns
Courtney Thaxton
Shruthi Mohan
May Flowers

@bryanwulf @gcheung-SF can these be added into R30 or is it too late?

[2020-01-08 17:24] gcheung-SF commented on #2104
@bryanwulf , I have made the changes - https://github.com/ClinGen/clincoded/pull/2105.  Please let me know if I should do a dbdump too.  Thanks.

[2020-01-08 19:08] bryanwulf commented on #2104
@gcheung-SF Thanks for making the updates (and no, a DB dump isn't necessary).

[2020-01-09 00:25] cgpreston opened #2106 "Initiate GDM for gene NDUFAF8"
The mitochondrial disease (#10027) affiliation would like to curate the gene NDUFAF8. We confirmed that it cannot be curated on the production site (see screenshot).

This is a curation blocker.
<img width="1076" alt="Screen Shot 2020-01-07 at 1 36 09 PM" src="https://user-images.githubusercontent.com/46766411/72027344-7d972600-3233-11ea-91a0-285f1776f0a4.png">

[2020-01-10 17:17] wrightmw commented on #2035
Added as part of Release 30 (R30)

[2020-01-10 17:17] #2035 closed

[2020-01-10 17:17] wrightmw commented on #1796
Added as part of Release 30 (R30)

[2020-01-10 17:17] wrightmw commented on #1796
Added as part of Release 30 (R30)

[2020-01-10 17:17] #1796 closed

[2020-01-10 17:18] wrightmw commented on #1984
Added as part of Release 30 (R30)

[2020-01-10 17:18] #1984 closed

[2020-01-10 17:18] wrightmw commented on #2086
Added as part of Release 30 (R30)

[2020-01-10 17:18] #2086 closed

[2020-01-10 17:19] wrightmw commented on #2075
Added as part of Release 30 (R30)

[2020-01-10 17:19] #2075 closed

[2020-01-10 17:20] wrightmw commented on #1336
Added as part of Release 30 (R30)

[2020-01-10 17:20] #1336 closed

[2020-01-10 17:20] wrightmw commented on #2082
Added as part of Release 30 (R30)

[2020-01-10 17:20] #2082 closed

[2020-01-10 17:20] wrightmw commented on #1178
Added as part of Release 30 (R30)

[2020-01-10 17:20] #1178 closed

[2020-01-10 17:20] wrightmw commented on #2089
Added as part of Release 30 (R30)

[2020-01-10 17:20] #2089 closed

[2020-01-10 17:20] #2099 closed

[2020-01-10 22:23] wrightmw commented on #2104
Added as part of Release 30 (R30)... thanks @gcheung-SF

[2020-01-10 22:23] #2104 closed

[2020-01-11 00:48] cgpreston opened #2107 "UNC-requested approver changes"
These changes are all reflected in the affiliation spreadsheet, but please see the attached document for the full list. Please make the requested changes to approver status.
[R31 Approvers changes request from UNC.xlsx](https://github.com/ClinGen/clincoded/files/4048770/R31.Approvers.changes.request.from.UNC.xlsx)

[2020-01-13 18:27] cgpreston opened #2108 "Create interface "Terms of Use Agreement" page"
Create a new page for the VCI/GCI termed "Terms of Use Agreement"

See mockup here for suggestions as to how this page could look. https://docs.google.com/presentation/d/1JJV48K0lH7gAOi1YFZLM51wwzUQL-C7Z_XdMfc-Swvs/edit#slide=id.g7b5addf1c4_0_22

Requirements:
* Page should be accessible to users who are not signed in, suggested implementation is to add a link to the page in the "Help" pull down.

[2020-01-13 18:30] cgpreston opened #2109 "Changes to landing page for user registration"
Requirements:

1. Change the language of the "login" button in the top right of the VCI/GCI to say "Login/Sign Up"

2. Change the language of the grey bar to match the mockup in slide 3. https://docs.google.com/presentation/d/1JJV48K0lH7gAOi1YFZLM51wwzUQL-C7Z_XdMfc-Swvs/edit#slide=id.g7ab49814cb_0_5

3. Note that the demo and prd site have slight differences in the landing page (see @wrightmw's co

[2020-01-13 19:19] cgpreston opened #2110 "Changes to the Auth0 Sign Up Modal"
Changes to the Auth0 Sign Up modal (see mockups here: https://docs.google.com/presentation/d/1JJV48K0lH7gAOi1YFZLM51wwzUQL-C7Z_XdMfc-Swvs/edit#slide=id.g7ab49814cb_0_71)

Requirements

1.  Capture the following fields at Sign Up (Note: some of this may not be possible with google sign up)
    * First Name (free text)
    * Last Name (free text)
    * Email address
    * Password
    * Institution

[2020-01-14 00:51] cgpreston opened #2111 "Finalize DAPC GCI/VCI language changes"
Finalize language that is to appear on:

1. The Terms of Use  (#2108)
2. The Submission Policy Agreement
3. The Terms of Use Reminder

Draft language as of 1/13/20 is here: https://docs.google.com/document/d/1IU47UjIwNbvJWm-wVtDFnq7NvDA102tynGrKftpoHqI/edit

Language is scheduled to be discussed on 1/24/20 steering committee call.

[2020-01-14 01:02] cgpreston opened #2112 "New user experience for sign up"
Users will have the following sign up/status change experience in the VCI/GCI:

1. They will be directed to sign up for the VCI/GCI using the Sign Up modal (#2110)
2. Auth0 will confirm their email (this is the same current automated process)
3. The VCI/GCI will send an automated email explaining the sign up process
     * _Need language_
4. The VCI/GCI will send an automated email once users are

[2020-01-14 01:03] cgpreston commented on #2111
Alice to finalize language.

[2020-01-14 01:14] h-tong commented on #2103
Hi, @courtneythaxton, I've changed the disease for the HCN1 curation. This typically involves changing the disease associated with each case-level piece of evidence as well (given that the disease in the evidence matches the disease for the gene). As I went through the evidence, I found in the 4th article down (PMID: 19344873), 3 individuals have the "intellectual disability" disease, so I was hes

[2020-01-14 01:17] cgpreston opened #2113 "Stanford Admin workflow within new user registration process"
Stanford admin/biocurators (henceforth biocurators) will have the following experience while VCI/GCI users are registering for the interfaces.

**For sign up/user registration:**
1. Users will request an account (see #2110)
    1. Current "add-curator" process will be deprecated,  so users will be required to actively agree to the terms of use agreement (see #2108)
2. Biocurators will be able to i

[2020-01-14 01:22] courtneythaxton commented on #2103
Thank you @h-tong for this information and correcting the record. I do sometime use a different MonDO ID then the one for the whole record. Especially in the cases of syndromes in which individuals could be diagnosed based on one phenotype that is part of the spectrum. I really appreciate you pointing out the cases and given me the opportunity to check them over.

Take care,
@courtneythaxton

[2020-01-15 18:30] cgpreston opened #2114 "Changes to error/not activated page"
Users who are not fully registered/activated currently run into the following error pages, we should consider modifying these pages to match our new workflow.

1. #logged-out ![Screen Shot 2020-01-15 at 10.23.11 AM.png](https://images.zenhubusercontent.com/5d519cc26f935933f7158be7/cc2eb3bb-79bd-46f3-a7ef-458146e9a9e6)

[2020-01-15 19:19] gcheung-SF opened #2115 "Test Scenario Updates to Fix Travis CI Build"
When adding some variants as part of running test scenarios, one of the Travis CI builds is failing because expected UI text is not present. It appears likely that the missing text is a result of changes to the response format of one or more external services (from which the app requests variant-related data).

The problem is with this test:
Scenario: Testing VCI tab functionality on non-SNV varia

[2020-01-15 19:20] cgpreston commented on #2103
@courtneythaxton, @h-tong made the requested changes in the production GCI, can you check and confirm it meets your expectations?

[2020-01-15 19:20] cgpreston commented on #2090
@courtneythaxton, @h-tong made the requested changes in the production GCI, can you check and confirm it meets your expectations?

[2020-01-15 19:51] cgpreston commented on #2102
Confirmed by IDA team.

[2020-01-15 19:51] #2102 closed

[2020-01-15 21:55] courtneythaxton commented on #2090
@cgpreston @h-tong This looks good. Thank you so much!

[2020-01-15 22:17] cgpreston opened #2116 "MONDO ID change tool"
A frequent GCI user request is to change the MONDO ID for GDM curations.

Request:
Create a tool (admin or user-accessible) to change the MONDO IDs.

[2020-01-15 22:22] #2090 closed

[2020-01-16 02:22] courtneythaxton commented on #2103
@cgpreston @h-tong, I looked over this curation and it meets expectations. Thank you very much for making this adjustment!

[2020-01-16 02:26] courtneythaxton opened #2118 "Transfer the GJB1 GDM to the Charcot Marie Tooth GCEP"
@wrightmw @cgpreston

The GJB1: Charcot Marie Tooth gene curation needs to transferred from my current personal  (No affiliation-courtney Thaxton) affiliation to the new Charcot Marie Tooth GCEP affiliation.

The URL for this curation is as follows: https://curation.clinicalgenome.org/curation-central/?gdm=9fca0130-ec4f-4f0a-9270-3825bb1ee063&pmid=10938190

The CMT GCEP has already approved this c

[2020-01-16 19:08] cgpreston commented on #2103
Thanks @h-tong and @courtneythaxton!

[2020-01-16 19:08] #2103 closed

[2020-01-16 23:31] wrightmw commented on #2094
![Screen Shot 2020-01-16 at 3 29 35 PM](https://user-images.githubusercontent.com/15131169/72571686-1e5d9500-3875-11ea-8345-ad4bd4e35e99.png)

Only a user curating as part of an affiliation that has a GCEP should be able to create new GDMs. Therefore if anyone goes to create a new GDM and they are an individual or they are part of an affiliation that does not have a GCEP, then when they click "Sub

[2020-01-16 23:36] wrightmw commented on #2053
New fields:
Contributors
Date Last Edited
Classification
Genetic Evidence Points
Experimental Evidence Points

[2020-01-17 06:49] wrightmw commented on #2109
@cgpreston FYI.. the landing page you have on mockup slide 3 is from the test interface but the prod site will differ slightly because it needs to keep the link to the dev site:

![Screen Shot 2020-01-16 at 10 47 29 PM](https://user-images.githubusercontent.com/15131169/72590247-27b92280-38b2-11ea-8266-fcefd7a2f461.png)

[2020-01-21 17:33] courtneythaxton opened #2120 "Transfer of SGCA record from no affiliation to LGMD GCEP"
@wrightmw @cgpreston

We are in need of transferring a gene curation record for SGCA from my personal no affiliation to the Limb girdle Muscular dystrophy (LGMD) GCEP.

The URL for the SGCA gene curation is: https://curation.clinicalgenome.org/curation-central/?gdm=9f2593d9-aa90-4051-b9cf-30c3a22a68ea&pmid=9744877

Thanks!
@courtneythaxton

[2020-01-21 19:33] bryanwulf commented on #2115
Travis CI builds are passing again, so I'm closing this issue.

[2020-01-21 19:33] #2115 closed

[2020-01-22 20:54] wrightmw opened #2121 "Coordinator dashboard feedback"
This ticket is to allow coordinators to put their suggestions for Coordinator-specific access to the dashboard in the GCI/VCI. We envisage that the dashboard could be a place for coordinators to manage the membership of their affiliations. We also welcome feedback on other tools that could be useful to users on the dashboard.

Other tickets that folks may find useful to look at are:

Complex searc

[2020-01-22 23:03] cgpreston opened #2122 "Add new VCEP affiliation for R31"
Please add the VCEP "Thrombosis" with the affiliation ID 10064, VCEP ID 50064 and the ability to publish.

[2020-01-23 04:58] wrightmw commented on #2005
Looks good. A couple of improvements should be added in future prior to any plans to expand the use of this tool beyond the Stanford biocurators:
1) It would be good to store a timestamp and a record of what the ownership of the record changed from and to
2) It is possible to create multiple interpretations from the same affiliation for a single variant with this tool. For instance, if a single va

[2020-01-24 19:56] cgpreston commented on #2111
Approved by steering committee on 1/24/20

[2020-01-24 19:56] #2111 closed

[2020-01-24 21:49] cgpreston opened #2123 "Text changes for PHI Disclaimer when starting Interpretation in the VCI"
Currently when a VCI user clicks on the "Interpretation" button they are asked to agree to a PHI Disclaimer

The following changes should be made to this pop-up:
1. Rename to "Submission Policy Agreement"
2. Replace the current language with the following:

Keep the Agree/Disagree button

[2020-01-24 21:50] cgpreston commented on #2123
This is the current view:

![Screen Shot 2020-01-24 at 12 15 56 PM](https://user-images.githubusercontent.com/46766411/73106521-749f8900-3eb0-11ea-8b33-0154084db1be.png)

This is a rough mockup of the intended new view:
<img width="827" alt="Screen Shot 2020-01-24 at 12 17 07 PM" src="https://user-images.githubusercontent.com/46766411/73106538-7cf7c400-3eb0-11ea-99d1-5c8483222487.png">

[2020-01-24 22:01] cgpreston opened #2124 "Text changes for Case/Segregation PHI warning"
Sister ticket to #2123

Please replace the PHI disclaimer language on the top of the case/seg tab in interpretation mode.

Changes to make:

[2020-01-24 22:05] cgpreston commented on #2124
Current view:
![Screen Shot 2020-01-24 at 1 55 16 PM](https://user-images.githubusercontent.com/46766411/73107160-09ef4d00-3eb2-11ea-91b2-695c7aa1747b.png)

Mockup of new view:
<img width="855" alt="Screen Shot 2020-01-24 at 2 01 57 PM" src="https://user-images.githubusercontent.com/46766411/73107210-1c698680-3eb2-11ea-93db-7378791eec62.png">

[2020-01-24 22:14] cgpreston commented on #2123
@RaoMadhavrao, @wrightmw , this is 1 of 2 tickets we hope to implement soon for the DAPC/VCI text changes that were approved by the Steering Committee today.

[2020-01-24 22:14] cgpreston commented on #2124
@RaoMadhavrao, @wrightmw , this is 1 of 2 tickets we hope to implement soon for the DAPC/VCI text changes that were approved by the Steering Committee today.

[2020-01-24 22:34] cgpreston opened #2125 "Add MONDO ID to GDM"
Please add MONDO:0013308 (CBL-related disorder) to the CBL gene curation for the RASopathy affiliation: https://curation.clinicalgenome.org/curation-central/?gdm=09b4ecc9-3195-491d-93cf-6bd225d12c6e&pmid=25358541.

[2020-01-25 00:02] cgpreston opened #2126 "Indicate MANE Preferred transcript on Basic Info page of VCI"
We now consider MANE Preferred transcripts as part of variant naming (see #1868), however we do not indicate in the VCI if a RefSeq transcript is the MANE preferred one.

Requirements:
For variants with a MANE preferred transcript: Provide a visual indicator on the Basic Information > RefSeq Transcript section of the VCI.

Suggested implementation is to use a visual cue similar to what was impleme

[2020-01-25 00:38] cgpreston commented on #1868
Testing notes:
* Testing title preference 1: Variant in ClinVar
    * Choose any variant in ClinVar
* Testing title preference 2: Testing Variants with no ClinVar title but do have a MANE Preferred transcript:
   * CA501087, CA5404427, CA862193305
* Testing title preference 3:
   * CA352139638
* Testing title preference 4:
   * C862193305, CA913184818

[2020-01-25 00:49] wrightmw commented on #1868
Additionally, when testing preference 3... I used CAID: CA430030719, which is a non-coding RNA... and gave the following title:

![Screen Shot 2020-01-24 at 4 46 02 PM](https://user-images.githubusercontent.com/15131169/73113487-16cb6b00-3ec9-11ea-86f3-a716edabcb38.png)

@shaungc-su Where there is no protein data, such as in this example, then preferably this would be entirely absent in the title.

[2020-01-25 03:10] shaungc-su commented on #1868
@wrightmw

I can confirm reproducing this problem of "undefined" in the amino acid change name.
After investigation, this is generated by the canonical transcript title. Indeed, as Christine mentioned this is a test case for preference 3 (no ClinvarVariantTitle, no MANETranscript, has canonicalTranscriptTitle).

As the fix is trivial I will fix it here. Once the updated test instance is ready I'll

[2020-01-29 00:30] shaungc-su commented on #2123
@cgpreston I'll will be working on this issue. Thanks for posting the screenshot, it's very helpful to locate the issue.

As I search in the code base, I found another place containing this text - it's under **variant central -> Interpretation -> segregation**. I wonder if this place needs the same change as well, but I'm not sure where is it used in the website. I'm trying to find out how to get

[2020-01-29 05:00] cgpreston commented on #2123
@shaungc-su , awesome! With regards to your comment, the same text currently appears when the variant curation record is initiated AND at the top of the segregation tab. It's possible that what you're seeing is related to #2124, which is the text at the top of the Case/Segregation tab in the VCI.

[2020-01-29 06:47] shaungc-su commented on #2123
@cgpreston Nice! Thought it was in modal, now I see the top text in segregation tab. I will have the text change applied to both places.

[2020-01-29 17:20] cgpreston commented on #2124
For the developer: Please note that @shaungc-su found there may be interconnections with this ticket and #2123

[2020-01-29 17:57] shaungc-su commented on #1832
For record: these text will be changed in #2123 and #2124 , and will be changed to different text:

#2123 : PHI disclaimer when starting interpretation.
#2124  : Disclaimer in case/segregation tab.

[2020-01-29 18:01] cgpreston commented on #2108
@h-tong , the final language for this page can be found as item A (termed User Registration Email), in this document: https://docs.google.com/document/d/1IU47UjIwNbvJWm-wVtDFnq7NvDA102tynGrKftpoHqI/edit.  Thanks!

[2020-01-29 18:03] shaungc-su commented on #2124
After discussing with @cgpreston and @h-tong , this issue will be withhold for the VCI term of use page. After we have the term of use page and its page url ready, we will be able to add it to the "LINK" and get the text finalized.

[2020-01-29 19:07] cgpreston opened #2129 "Stats for ClinGen SPWG Feb 2020"
The Stakeholder Partnership WG has requested the following statistics be provided.

  | 2015* | 2016 | 2017 | 2018 | 2019 | 2020*
-- | -- | -- | -- | -- | -- | --
|# gene curations with approved status |   |   |   |   |   |  
|# variant curations with approved status |  NA |   |   |   |   |  

*Not full calendar year

[2020-01-29 19:09] cgpreston commented on #2129
@RaoMadhavrao @bryanwulf  we have this request from a ClinGen colleague, can we do this and if so can we give them an ETA? Thanks! I

[2020-01-29 19:15] wrightmw commented on #2129
@cgpreston The VCI only started life in Dec 2015... and no-one started curating in it until 2016

[2020-01-29 19:50] wrightmw opened #2130 "Delete GDM in the GCI"
Please delete the following GDM:
https://curation.clinicalgenome.org/curation-central/?gdm=bb337edb-a0a8-4520-914b-56ab11e1aea6&pmid=3393536

Affiliation: General GCEP
Gene: G6PD
Disease: anemia, nonspherocytic hemolytic, due to G6PD deficiency

[2020-01-29 20:41] cgpreston commented on #2116
Related work needed:
1. Update UNC tracking system when MONDO ID is changed.
2. Remind curators that evidence MONDO IDs will need to be updated manually
3. Make changing a two-step process (modal based, similar to deletion in other parts of the interfaces)

[2020-01-29 20:49] wrightmw commented on #2116
4. Error checking so that changing the MONDO ID does not generate a duplicate GDM

[2020-01-29 23:14] cgpreston commented on #2003
@wrightmw, propose closing this in favor of #2116.

[2020-01-29 23:17] cgpreston commented on #1949
@bryanwulf, is this still running? Thanks!

[2020-01-29 23:19] cgpreston commented on #1820
Closing this, VCI WG did not think this would be useful.

[2020-01-29 23:19] #1820 closed

[2020-01-29 23:24] bryanwulf commented on #1949
@cgpreston It doesn't appear to be... I think this issue can be closed.

[2020-01-29 23:26] cgpreston commented on #1949
Thanks @bryanwulf

[2020-01-29 23:26] #1949 closed

[2020-01-29 23:42] wrightmw commented on #2094
Alternatively, block the link to this create GDM page on the homepage.

[2020-01-30 20:32] bryanwulf opened #2132 "Prevent (and Remove Existing) Provisional/Snapshot Data Nesting"
An example of the current data nesting (from a snapshot object), where `resource` represents a provisional object and `associatedClassificationSnapshots` represents an array of snapshot objects:
[code]

As this nested data isn't used by the application, the example above can be reduced to the following (without any loss of functionality):
[code]

[2020-01-30 23:01] wrightmw commented on #1898
![](https://github.trello.services/images/mini-trello-icon.png) [Improved searching GCI](https://trello.com/c/HRiHFgoY/35-improved-searching-gci)

[2020-01-31 00:02] cgpreston commented on #1994
![](https://github.trello.services/images/mini-trello-icon.png) [HMAF data in GCI & VCI](https://trello.com/c/AVncMaG0/55-hmaf-data-in-gci)

[2020-01-31 00:03] cgpreston commented on #1994
Implement this in conjunction with #1606

[2020-01-31 05:25] wrightmw commented on #2122
New affiliation present in R31 release candidate. Able to approve. Looks good.

[2020-01-31 05:37] wrightmw commented on #2066
Ok... the publish button does now appear, and when I click it I can now seem to publish it... so it looks fixed... however, it also looks like the staging area is now set up to receive this? Do we know that the website will be able to accept these classifications?:

![Screen Shot 2020-01-30 at 9 40 31 PM](https://user-images.githubusercontent.com/15131169/73515033-b6489c00-43a8-11ea-8fd6-f4404301d

[2020-01-31 05:50] wrightmw commented on #1486
Looks great in R31 release candidate! Can save both types of comment, and non-scorable evidence appears in table in the Evidence Summary.

[2020-01-31 17:14] markmandell commented on #2066
Hey @wrightmw , those two fields are just the labels on the front-end for the publish panel. It is a  shared component between the GCI/VCI, and I have a small change to submit for a PR that stops the labels from displaying in the VCI.

[2020-01-31 18:16] cgpreston commented on #2066
@wrightmw @markmandell, I tested this on the release candidate GCI and did not get the request failed error message.

[2020-01-31 18:33] markmandell commented on #2066
@wrightmw my apologies, misunderstood what we were talking about here.

I was able to publish via my test on the release candidate as well

[2020-01-31 19:31] wrightmw commented on #2066
Maybe the staging area was temporarily unavailable? It was 1am ET time, so maybe they were doing an update? @markmandell

[2020-01-31 20:04] cgpreston commented on #1996
Tested on R31 release candidate, looks great, thanks @markmandell!

[2020-01-31 22:38] cgpreston commented on #1980
Tested by VCI Proxy group with users in 3 different states, all reported they could see a previously approved summary and a recently approved summary. Thanks @markmandell!

[2020-01-31 23:04] cgpreston commented on #2122
Tested and confirmed on R31 release candidate.

[2020-01-31 23:24] cgpreston commented on #2129
Closing this, Thanks @bryanwulf!

[2020-01-31 23:24] #2129 closed

[2020-02-03 04:57] wrightmw commented on #2048
From VCI small group on 1/6/20 the recommendation is to support as a primary use case VCEPs summarizing their pilot work.

Putative fields that users can select on and display in a spreadsheet format:

- Variant name
- Variant ID
- Gene associated with the variant (when possible, can just use the title)
- Timestamp of when report data was collected from VCI
- Criteria evaluations (met, not met, no

[2020-02-03 05:16] wrightmw opened #2133 "Structured Case Seg Data in variant curation from non-published sources"
CSP-19: Structured Case Seg Data in variant curation from PMIDs only completed the first version of this feature but included PMIDs only. This version 2 request will include other evidence sources, such as clinical labs.

Some feature improvements are outstanding from V1 (PMIDs only) and can be found under one Epic ticket:
#2022

https://broadinstitute.atlassian.net/browse/CSP-98

[2020-02-03 05:43] wrightmw opened #2134 "Scope out gene and variant curations interface interoperability"
Data saved on variants in the GCI is not available when looking at those variants in the VCI, and vice versa. This request is to open discussion on better integration/availability of gene and variant data between the VCI and GCI.

Expected Outcome: [A scoping doc](https://docs.google.com/document/d/1Pjwc_auODZ_dxyYH4-V4Or63uIpLLp6n4Bxh3bD8DFc/edit).

https://broadinstitute.atlassian.net/browse/CSP

[2020-02-03 16:20] wrightmw commented on #2134
Gene "wiki" ticket: #1661

[2020-02-03 19:34] miajsullivan opened #2135 "Delete the GDM - Wrong MONDO ID"
https://curation.clinicalgenome.org/curation-central/?gdm=cdd07931-9249-49a5-b918-9f363cceda58&pmid=10700180

New MONDO ID hasn't yet been published, however it was due for a January release.

[2020-02-03 21:16] courtneythaxton opened #2136 "Change MONDO ID for DSP:ARVC GDM"
@wrightmw @cgpreston

The ARVC GCEP is in need of updating the disease entity (MONDO ID) for the DSP gene curation: https://curation.clinicalgenome.org/curation-central/?gdm=0683943f-da80-4a3c-8f9f-454d59040eb2&pmid=23954618

The current MonDO is ARVC MONDO:0016587.

We need this changed to MONDO:0011581 (arrhythmogenic cardiomyopathy with woolly hair and keratoderma)

thanks
@courtneythaxton

[2020-02-03 21:35] wrightmw commented on #1760
Will be addressed in #1898

[2020-02-03 21:35] #1760 closed

[2020-02-05 23:41] cgpreston commented on #2107
Closing

[2020-02-05 23:41] #2107 closed

[2020-02-05 23:43] wrightmw commented on #2118
@courtneythaxton After our newly updated affiliation tool goes live, we'd like to test it with this ticket and #2120 .... would you be on hand on Friday to check these two entries after the transfer to confirm all looks good?

[2020-02-07 18:31] wrightmw commented on #2118
@courtneythaxton I've transferred this record using the tool. Can you please go check the record to make sure everything looks good to you?

[2020-02-07 18:33] wrightmw commented on #2120
@courtneythaxton I've transferred this record using the tool. Can you please go check the record to make sure everything looks good to you?

[2020-02-07 18:53] courtneythaxton opened #2138 "Transfer of GDMs from UNC BCC to Hereditary Cancer GCEP"
Hi @wrightmw we are in need of transferring the following records from the UNC Biocuration Core affiliation to the Hereditary Cancer GCEP.

This is a high priority need, as several of these GDMs are cardinal genes disease records that require publishing on the website. Also, there publishing would help to remove erroneous data previously published using the Gene Curation Express.

The URLS for the

[2020-02-07 19:02] courtneythaxton commented on #2118
hi @wrightmw this looks good. Glad it worked!

[2020-02-07 19:10] cgpreston commented on #2095
MYL1 curation was transferred and checked/accepted by the reporter on 2/7/20.

[2020-02-07 19:12] courtneythaxton commented on #2120
@wrightmw this one looks good too! Thanks  all for the tool and transfer:)

[2020-02-07 19:28] wrightmw commented on #2046
VCEPs report  2 or 3 fails for this button for every batch of about 40 variants.

[2020-02-07 19:57] wrightmw commented on #2046
Example of error message:
![Screen Shot 2020-02-07 at 11 56 39 AM](https://user-images.githubusercontent.com/15131169/74061492-f60f1500-49a0-11ea-992c-dc8ef8bfa254.png)

[2020-02-07 20:23] wrightmw commented on #2118
Transferred 2/7/2020

[2020-02-07 20:23] #2118 closed

[2020-02-07 20:40] #2120 closed

[2020-02-07 20:43] wrightmw commented on #2050
R31 release

[2020-02-07 20:43] #2050 closed

[2020-02-07 20:43] wrightmw commented on #2005
R31 release

[2020-02-07 20:43] #2005 closed

[2020-02-07 20:44] wrightmw commented on #1980
R31 release

[2020-02-07 20:44] #1980 closed

[2020-02-07 20:44] wrightmw commented on #2066
R31 release

[2020-02-07 20:44] #2066 closed

[2020-02-07 21:00] #1963 closed

[2020-02-07 21:06] wrightmw commented on #1794
Release 31

[2020-02-07 21:06] #1794 closed

[2020-02-07 21:06] wrightmw commented on #1486
Release 31

[2020-02-07 21:06] #1486 closed

[2020-02-07 21:07] wrightmw commented on #1669
Release 31

[2020-02-07 21:07] #1669 closed

[2020-02-07 21:07] wrightmw commented on #2122
Release 31

[2020-02-07 21:07] #2122 closed

[2020-02-07 21:16] wrightmw commented on #2138
@courtneythaxton Done the transfer for 3 of these. Please check these entries and confirm they are correct. The URL for the 3rd and 4th examples are the same so can you please paste the URL for the 4th example in here and I'll transfer that one too.

[2020-02-07 21:24] courtneythaxton commented on #2138
@wright it was this that needs to be transferred. Thank for catching my mistake!

RET:  multiple endocrine neoplasia type 2B: https://curation.clinicalgenome.org/curation-central/?gdm=02d6d315-92e7-4f07-982a-0f002995dd7a&pmid=7977365

[2020-02-07 21:35] wrightmw commented on #2138
I think it's done now! Please check. Thanks @courtneythaxton

[2020-02-09 19:15] wrightmw opened #2139 "Ability to Delete a GDM"
Currently, when a user creates a GDM in error then the only way to mark it as deleted is editing by a Stanford developer. This ticket it to discuss the options around allowing users to delete their own GDMs.

Similarly to deleting PMID evidence, deleting an interpretation should be a two step process with a warning message.

[2020-02-10 12:09] wright commented on #2138
@courtneythaxton Please note that @wright is not the same person as @wrightmw. I am not associated with this project.

[2020-02-10 18:42] cgpreston opened #2140 "Delete Variant interpretations"
Variant 1 to delete: ClinVar Variant 265979:
https://curation.clinicalgenome.org/variant-central/?edit=true&variant=39bbfed7-16d3-4023-a976-788161863bf7&interpretation=d05bcc45-7c53-462f-84e6-a71b9eeffe17

Variant 2 to delete: **also** ClinVar Variant 265979
https://curation.clinicalgenome.org/variant-central/?edit=true&variant=39bbfed7-16d3-4023-a976-788161863bf7&interpretation=ddf4057e-d6e7-4a4a

[2020-02-11 19:12] wrightmw commented on #2138
@courtneythaxton All 4 have been moved so are you ok with me closing this ticket now?

[2020-02-11 19:14] courtneythaxton commented on #2138
hi @wrightmw yes I am happy for you to close this ticket. it is up to Xi now to check the remaining evidence and transfer!

[2020-02-11 19:24] wrightmw commented on #2138
Thanks @courtneythaxton

[2020-02-11 19:24] #2138 closed

[2020-02-11 21:00] bryanwulf commented on #2132
Release 31

[2020-02-11 21:00] #2132 closed

[2020-02-12 04:26] courtneythaxton opened #2141 "Transfer of gene curations to Hereditary Cancer GCEP"
Hi @wrightmw and @cgpreston

We have need for transferring of some more records between affiliations, with the final records residing with the Hereditary Cancer GCEP.

From the General GCEP to Hereditary Cancer:

ATM: https://curation.clinicalgenome.org/curation-central/?gdm=f59529f6-e6ac-4aaf-807f-6d32d5651534&pmid=8689683

RB1: https://curation.clinicalgenome.org/curation-central/?gdm=e667325a-f

[2020-02-13 17:51] wrightmw opened #2142 "Change "In Progress" status in the VCI"
Currently in the VCI the "In Progress" status only applies once an Evaluation Summary has been saved. This should be changed so that this status applies once an Interpretation has been started.

[2020-02-13 23:23] cgpreston commented on #2141
Completed 2/13/20

[2020-02-13 23:23] #2141 closed

[2020-02-14 19:07] shaungc-su commented on #1899
Note on the change:

#### Permission to show the link

**Current**: only show the provisional link if user is the author of classification
**Change** to: show all provisional links

#### Permission to show content after clicking the link

**Current**: (user && classification both affiliated) => must be the same affiliation
**Current**: (user && classification **both not affiliated**) => user must

[2020-02-18 18:03] cgpreston opened #2143 "ClinVar interpretations not showing up in Basic info tab"
Reported by Xi and Jenny, among others, but may be widespread.

ClinVar Interpretations (Overall and Submitted) are not showing up for VCI entries.

Example variants: ClinVar ID: 265543 and 320292.

Also: this variant showed ClinVar entries last week, but they're not showing up now. https://curation.clinicalgenome.org/variant-central/?variant=00f5ba18-4023-4846-bb00-4cea63bbbc3d

[2020-02-19 17:50] cgpreston opened #2144 "Automatic test of major VCI resources"
Set up an automated test for major VCI resources to help the Stanford team identify outages.

[2020-02-19 17:50] cgpreston commented on #2144
Relates to #2143, requires further discussion by dev team.

[2020-02-19 17:51] cgpreston commented on #2144
@RaoMadhavrao

[2020-02-19 22:35] wrightmw commented on #2095
@courtneythaxton Can you please check the PAH GDM and see if is has all tranferred correctly over to Aminoacidopathy? :-)

[2020-02-20 00:37] #2077 closed

[2020-02-20 17:43] wrightmw opened #2145 "Under Review status in the VCI"
Approved VCEPs need to be able to mark an entry as "Under Review". This new status would be manually added by the curator, and should be able to be manually deleted...but otherwise by default it would be removed when a Publishing event occurs.

Note: making an interpretation status "Under Review" may need to trigger a status update message to the ERepo

[2020-02-20 20:55] #2058 closed

[2020-02-20 22:36] wrightmw opened #2146 "Ability to change MONDO ID in a GDM"
Currently, once a GDM has evidence added then the Disease (MONDO ID) is locked and can only be changed by a developer. This ticket is for unlocking the Disease so that curators can change the MONDO ID within a GDM.

**Desired functionality:**
1. Show the change disease modal and allow users to edit the disease term for any unpublished GDM.
2. When the disease term is changed, the GCI should error

[2020-02-20 22:37] wrightmw commented on #2116
Instead of a tool, will now be delivered as a new functionality within the GCI...see #2146

[2020-02-20 22:37] #2116 closed

[2020-02-20 23:05] wrightmw commented on #2146
@ErinRiggs @courtneythaxton @marinadistefano @jennygoldstein Anything to add to this ticket?

[2020-02-20 23:08] wrightmw commented on #2146
Just remembered. I think we said that it would be locked once a Classification is published?  And changing the MONDO ID would Unpublish the Classification?

[2020-02-24 22:12] bryanwulf commented on #2046
@cgpreston @wrightmw The error appears to have been the result of missing data within the application. I've added the missing data associated with the 5 variants referenced in this issue (plus a dozen or so more) and confirmed that ClinVar submission data generation no longer fails.

[2020-02-24 22:21] cgpreston commented on #2046
@bryanwulf, fantastic! Thanks :-)

[2020-02-24 22:37] #2046 closed

[2020-02-25 00:50] wrightmw commented on #2130
General GCEP removed as interim measure.

[2020-02-25 23:40] wrightmw commented on #1585
This same functionality could be used in the VCI to complete this ticket: #1917

[2020-02-26 19:33] cgpreston opened #2148 "Delete Interpretation records"
The attached file has the URLs for the requested entries to be deleted.

[2020-02-26 19:33] cgpreston commented on #2148
[curations to remove.docx](https://github.com/ClinGen/clincoded/files/4257786/curations.to.remove.docx)

[2020-02-27 19:19] cgpreston commented on #1878
Update: 2/27: Most of the requested curations have been transferred. Diane will assess the remaining ones where there is a PAH entry and a personal entry and let us know what to do with those on a case-by-case basis. Closing this!

[2020-02-27 19:19] #1878 closed

[2020-03-03 17:54] gcheung-SF commented on #2056
The duplicated GDMs have been deleted from database.

[2020-03-03 18:20] wrightmw commented on #2056
@courtneythaxton These have been deleted now. Can you please check these are disappeared from your view of the production interfaces?

[2020-03-03 18:33] gcheung-SF commented on #2055
Checked on production site, both GDMs have status "deleted" so they should no longer appear in the app.

[2020-03-03 18:37] wrightmw commented on #2055
@courtneythaxton Can you please check that these have been deleted from your view.

[2020-03-03 18:47] courtneythaxton commented on #2055
@wrightmw I will check once get my access to the records back :) Right now I cannot access them in the GCI.

[2020-03-03 23:15] gcheung-SF commented on #2130
GDM has been deleted.

[2020-03-03 23:41] gcheung-SF commented on #2135
GDM has been deleted.

[2020-03-04 02:26] courtneythaxton commented on #2055
@wrightmw @cgpreston I no longer see anything when clicking the above links, and they do not appear in the UNC Biocuration Core affiliation.

Thanks!
@courtneythaxton

[2020-03-05 00:51] courtneythaxton opened #2150 "Update Platelet Disorder Affiliation in Interface"
@wrightmw @cgpreston

This is a request to update an affiliation name in the interface. Currently, the affiliation in question is termed "Platelet Disorder" however the approved name is "Platelet Disorders" in which the word disorder is plural. If you would be so kind as to add the "s" at the end of "Disorder" we would appreciate it!

@courtneythaxton

[2020-03-05 21:34] wrightmw commented on #1965
GCI WG call (3/5/20):

Step 1: Add "Is this earliest report of a variant in the gene causing the disease of interest in a human?" checkbox into PubMed notes section. Only one PMID can be marked per GDM; warning message if attempts to add when one is already marked. The marked GDM should have a symbol as a visual indicator in the abstracts on the LHS panel. This should be a searchable field. Automa

[2020-03-06 15:25] mhughes5 opened #2151 "Skeletal Disorders and Craniosynostosis GCI Affiliations"
Two new GCEPs are forming: Skeletal Disorders and Craniosynostosis. The Skeletal Disorders group has submitted a GCEP application and the Craniosynostosis group is starting up. Can you make affiliations in the GCI for them? Thank you!

[2020-03-06 19:37] cgpreston commented on #2151
The Craniosynostosis affiliation was previously added to the interfaces under the number 10059, please add the GCEP ID 40059 and ability to publish. Please add the Skeletal Disorders GCEP as affiliation 10065, GCEP ID 40065 and ability to publish.

[2020-03-06 19:37] cgpreston commented on #2151
Thanks for filing this @mhughes5!

[2020-03-06 22:44] wrightmw opened #2152 "Add new Affiliations for R32"
see spreadsheet for 5 new GCEPs

[2020-03-10 16:13] courtneythaxton opened #2155 "Update for HGNC approved gene symbol for USMG5"
@wrightmw @cgpreston

At this time a gene-disease record for the Mitochondrial GCEP within the GCI uses a previous gene symbol and not the current HGNC symbol.

The gene records shows USMG5- Leigh syndrome
URL of record/ UUID: https://curation.clinicalgenome.org/curation-central/?gdm=8ad17e07-e8b8-4746-8ea4-4741834f2b52&pmid=29917077

The current approved symbol per HGNC is ATP5MD: https://www.gen

[2020-03-10 16:21] courtneythaxton opened #2156 "Duplication of ROBO2 GDM"
@wrightmw and @cgpreston

There appears to be two records for ROBO2 gene. Granted the do have different mode of inheritance, however I wonder if these do represent duplicates.

ROBO2- vesicoureteral reflux 2-AD was curated by Xi Luo for Hereditary Cancer
UUID: https://curation.clinicalgenome.org/curation-central/e369ef76-b741-49a1-a82c-c93ff89e3062

ROBO2- vesicoureteral reflux 2-"Other" was curat

[2020-03-10 16:26] courtneythaxton opened #2157 "Duplication of GATA2 GDM"
@wrightmw and @cgpreston

Xi Luo with the Hereditary Cancer GCEP indicated that there are 2 gene records for GATA2, and that one may be a duplicate or need to be removed.

The two records are as follows:
1) [FOR DELETION] GATA2- deafness-lymphedema-leukemia syndrome- AD, Hereditary Cancer GCEP), curator Ye Cao
UUDI: https://curation.clinicalgenome.org/curation-central/?gdm=ba6b8443-4a28-499d-8cb9-

[2020-03-10 18:42] cgpreston commented on #2157
Confirmed with Xi, please delete the #1 record.

[2020-03-12 15:26] cgpreston opened #2158 "Updating GDMs and data exchange snapshot issue"
Discovered with regards to the GRIA3 update #2070.

Issue 1: (per @gcheung-SF) when we modify a record there is no updating of the snapshot/data exchange.

Issue 2: There is a discrepancy between the evidence summary and the rest of the curation.

![image002](https://user-images.githubusercontent.com/46766411/76537501-18320200-643b-11ea-8ee6-77631721cf4e.png)
![image004](https://user-images.github

[2020-03-12 15:28] cgpreston commented on #2158
@wrightmw @gcheung-SF , this is the status of the GRIA3 issue, I think we need to have a bit more discussion and also see if these issues are widespread.

[2020-03-13 23:20] gcheung-SF commented on #2158
https://asjira.stanford.edu/jira/browse/CLINGEN-73

[2020-03-18 00:29] bryanwulf opened #2163 "Travis CI Build Failures"
Without any changes to the application, all Travis CI builds started failing.

From logs before the failures:
[code]
[code]

including the package dependency "tree":
[code]

From logs after the failures:
[code]
[code]

and the package dependency "tree":
[code]

It appears that the inclusion of mkdirp 1.x may be causing the failures.

[2020-03-18 01:44] bryanwulf commented on #2163
To remove the necessity for installing mkdirp 1.x, the version range limitation on the **grunt** package (in package.json) was changed to **1.0.x** (to install 1.0.4 instead of 1.1.0).

From logs after the update:
[code]
[code]

and the package dependency "tree":
[code]

[2020-03-18 01:46] #2163 closed

[2020-03-18 19:39] courtneythaxton opened #2164 "Interacting Gene entry in Protein Interaction is not accepting HGNC symbols with a dash"
@wrightmw @cgpreston

It appears that under the protein interaction for a gene disease record, for the "interacting gene" section is not accepting an approved HGNC symbol for the gene NKX2-5. I tried every alias of this symbol shown in HGNC just to see if it was an issue with an update, and none are accepting. This happens to a gene symbol with a "dash." I ended up using another approved symbol AC

[2020-03-18 23:16] gcheung-SF commented on #2158
1. The disease was changed in https://github.com/ClinGen/clincoded/issues/2070, the snapshots were not updated. I think that's by design that we don't update/change what has been done/recorded. Because this's the data that got sent to Data Exchange already. The change was made around Nov 20, 2019.

2. The data gets displayed in the evidence summary is from a snapshot.
For example, the latest snaps

[2020-03-19 10:12] bryanwulf commented on #2150
This update has been merged for R32.

[2020-03-19 10:12] bryanwulf commented on #2151
This update has been merged for R32.

[2020-03-19 10:13] bryanwulf commented on #2152
This update has been merged for R32.

[2020-03-19 19:36] #2135 closed

[2020-03-19 19:39] #1996 closed

[2020-03-19 19:40] #2095 closed

[2020-03-19 19:47] wrightmw commented on #2123
Was included in R31 release.

[2020-03-19 19:47] #2123 closed

[2020-03-19 20:00] cgpreston commented on #2094
Tested on R32 RC. Cannot initiate GDM as individual or as non-GCEP affiliation (PAH). Status: Pass.

[2020-03-19 20:03] cgpreston commented on #2108
Tested on R32 RC, was able to see Terms of use page from "help" pulldown. Testing status: pass.

[2020-03-19 20:04] cgpreston commented on #2124
Tested on R32 RC. Was able to see text and links as expected from interpretation.  Testing status: passed.

[2020-03-19 20:50] cgpreston opened #2165 "Provide GCI access for demo users"
With the new GCI restrictions demo users won't be able to use the GCI. We'd like the maintain the ability for demo users to access the GCI functionality.

Proposal:
Provide GCI use through the demo login
Provide GCI use through one of the test affiliations or by creating a new affiliation

[2020-03-19 20:50] cgpreston commented on #2165
@wrightmw

[2020-03-19 21:29] wrightmw commented on #2152
All present and correct :-)

[2020-03-19 21:30] wrightmw commented on #2151
Skeletal disorders is there

[2020-03-19 21:42] wrightmw commented on #2094
Tested for R32. Works great.
@gcheung-SF @bryanwulf
New request: can one of you please update Somatic Cancer (10057) to include GCEP for R32, so they can continue to create new GDMs after this release? Thanks.

[2020-03-19 22:42] cgpreston commented on #2165
I was able to add myself to both and start a GDM in the RC. Testing status: pass.

[2020-03-19 22:44] cgpreston commented on #2151
Tested on R32 RC, was able to see both and initiate GDMs.

[2020-03-19 22:44] cgpreston commented on #2143
Tested on R32 RC. The ClinVar data is appearing as expected in the 4 variants I tested.

[2020-03-20 01:23] gcheung-SF commented on #2165
Added GCEP to test affiliation 88888 and VCEP to test affiliation 99999.

[2020-03-20 02:12] wrightmw commented on #2094
Thanks for adding 10018 and 10019 @gcheung-SF ... works perfectly.

[2020-03-20 02:15] wrightmw commented on #2150
It's been pluralized :-)

[2020-03-20 02:16] wrightmw commented on #2124
Looks great! Thank you!

[2020-03-20 02:35] wrightmw commented on #1899
Links work correctly for every permutation :-) Great job! For example:
![Screen Shot 2020-03-19 at 19 40 54](https://user-images.githubusercontent.com/15131169/77131396-c0862e80-6a18-11ea-84d6-b3f803a05e3d.png)

[2020-03-20 02:37] wrightmw commented on #1913
"No Reported Evidence" is no more :-)

[2020-03-20 02:41] ErinRiggs commented on #1913
Yay!  Thanks Matt and team 🙂

Erin Rooney Riggs, MS, CGC

Assistant Professor

Certified Genetic Counselor

Autism & Developmental Medicine Institute

Geisinger

eriggs@geisinger.edu<mailto:eriggs@geisinger.edu>

________________________________
From: Matt W. Wright <notifications@github.com>
Sent: Thursday, March 19, 2020 9:37 PM
To: ClinGen/clincoded <clincoded@noreply.github.com>
Cc: Riggs, Eri

[2020-03-20 02:43] wrightmw commented on #1959
Looks great. Exactly as expected. Tag appears with No Reported Evidence only when there is non-human only evidence.

[2020-03-20 02:51] wrightmw commented on #1964
Auto-selects, and then removes it when genetic and/or contradictory evidence is added. Great!

[2020-03-20 02:54] wrightmw commented on #2108
Looks great!

[2020-03-20 02:57] wrightmw commented on #2143
Perfect! Just tested several ClinVar IDs and they all returned the ClinVar data, as expected.

[2020-03-20 03:20] courtneythaxton commented on #2150
Thank”s” everyone!

Sent from my iPhone

On Mar 19, 2020, at 10:16 PM, Matt W. Wright <notifications@github.com> wrote:

﻿

It's been pluralized :-)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ClinGen/clincoded/issues/2150#issuecomment-601497695>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AHYF4VLZT4

[2020-03-20 03:25] wrightmw commented on #1913
Thanks @ErinRiggs ... we're planning on releasing it this weekend

[2020-03-20 03:36] wrightmw commented on #1585
Kudos to @markmandell . This looks great. Looking forward to seeing it public in R32.

[2020-03-20 03:41] wrightmw commented on #1868
Followed testing steps and included CA430030719 as an ncRNA example. All worked. Great!

[2020-03-20 05:02] cgpreston commented on #1913
Confirmed on R32, yay!

[2020-03-20 05:05] cgpreston commented on #1964
Confirmed

[2020-03-20 05:06] cgpreston commented on #2150
Confirmed :-)

[2020-03-20 05:08] cgpreston commented on #2152
Confirmed :-)

[2020-03-20 13:37] jennygoldstein opened #2168 "Affiliation name change"
Please change the name of the "Orphan Diseases" affiliation to "Syndromic Disorders". Many apologies!! The GCEP application was just approved and the name was changed during discussion about this group. Thanks for your help.
@wrightmw

[2020-03-20 16:09] cgpreston commented on #1585
@markmandell this looks fantastic and I know it was a tricky issue to solve, great job!!

[2020-03-20 16:35] cgpreston commented on #1899
Looks great! Also checked the VCI, behavior there is also as expected (only approved have links)

[2020-03-20 16:50] cgpreston commented on #1868
Tested on R32 release candidate with 3 examples, all look great!

[2020-03-20 16:53] wrightmw commented on #2168
AffiliationID: 10060

[2020-03-20 21:23] cgpreston opened #2170 "Remove adjective for GDM"
Please remove the mode of inheritance adjective "(primarily or exclusively de novo)" for this curation: https://curation.clinicalgenome.org/curation-central/?gdm=9eb322a2-175a-4b00-bf98-031d71e62125&pmid=22265016

[2020-03-22 17:24] wrightmw commented on #2152
Released in R32

[2020-03-22 17:24] #2152 closed

[2020-03-22 17:25] wrightmw commented on #2168
Released in R32

[2020-03-22 17:25] #2168 closed

[2020-03-22 17:25] wrightmw commented on #2150
Released in R32

[2020-03-22 17:25] #2150 closed

[2020-03-22 17:25] wrightmw commented on #2151
Released in R32

[2020-03-22 17:25] #2151 closed

[2020-03-22 17:26] wrightmw commented on #2108
Released in R32

[2020-03-22 17:26] #2108 closed

[2020-03-22 17:26] wrightmw commented on #2124
Released in R32

[2020-03-22 17:26] #2124 closed

[2020-03-22 18:35] wrightmw commented on #2094
Released in R32

[2020-03-22 18:35] #2094 closed

[2020-03-22 18:36] wrightmw commented on #2143
Released in R32

[2020-03-22 18:36] #2143 closed

[2020-03-22 18:38] wrightmw commented on #1899
Released in R32

[2020-03-22 18:38] #1899 closed

[2020-03-22 18:39] wrightmw commented on #1585
Released in R32

[2020-03-22 18:39] #1585 closed

[2020-03-22 18:41] wrightmw commented on #1959
Released in R32

[2020-03-22 18:41] #1959 closed

[2020-03-22 18:42] wrightmw commented on #1964
Released in R32

[2020-03-22 18:42] #1964 closed

[2020-03-22 18:42] wrightmw commented on #1913
Released in R32

[2020-03-22 18:42] #1913 closed

[2020-03-22 18:45] wrightmw commented on #1868
Released in R32

[2020-03-22 18:45] #1868 closed

[2020-03-22 19:00] wrightmw commented on #2165
Released in R32

[2020-03-22 19:00] #2165 closed

[2020-03-23 14:06] mhughes5 commented on #2151
Hi Matt and Christine,
Thank you for adding the Skeletal Disorders affiliation. Emma and I aren't yet seeing it in our affiliation lists, would you be able to add us?
Thanks again,
Madeline

[2020-03-23 15:42] cgpreston commented on #2151
Hi @mhughes5 , we've added you and Emma W as part of the affiliation, please let us know if there are more affiliation members so we can add them as well.

[2020-03-23 17:02] wrightmw opened #2171 "New affiliations in R33"
Pulmonary Hypertension | 10071 | Pulmonary Hypertension GCEP  | 40071 |

[2020-03-23 20:26] wrightmw commented on #2078
Add warning message when someone selects to add a CACN ID:
Note: in general you should be scoring copy number variants involving only one gene, and should not be scoring multi-gene copy number variants due to the fact that the contributions of the other genes cannot be ruled out. If you have any questions please discuss with your expert panel.

[2020-03-23 20:37] cgpreston opened #2172 "Display gnomAD hemizygote allele counts in the VCI"
Per Jenny/VCI small WG:

Please display the hemizygote allele counts from gnomAD when available (X or Y-linked variants).

Example: ClinVar variant:  367902
gnomAD data includes hemizygote counts: https://gnomad.broadinstitute.org/variant/X-131211327-C-A
However the VCI doesn't pull this in:
<img width="1100" alt="Screen Shot 2020-03-23 at 1 35 00 PM" src="https://user-images.githubusercontent.com

[2020-03-23 20:51] wrightmw commented on #2078
When a CACN is entered if it's already in ClinVar then add the ClinVar VariationID instead.

[2020-03-24 20:25] cgpreston commented on #2158
GDM has been updated by curators and the MONDO is now correct. Communicate with users about the need to go through this process when updating MONDO IDs.

[2020-03-24 20:25] #2158 closed

[2020-03-25 22:28] cgpreston commented on #1981
Suggested logic for delete permissions in the VCI:

**For individual dashboards:**
1. Biocurators can delete any interpretation on their individual dashboard

**For affiliation dashboards:**
1. Any affiliation biocurator can delete an interpretation if:
*   they initiated the curation
*   AND no criteria evaluations were made in the curation
2. Users with the status of coordinator for that affilia

[2020-03-26 16:58] wrightmw opened #2175 "Delete PMID from GDM"
Please delete this article: Richards FM, et al., 1994, PMID: 8069305
From this GDM: https://curation.clinicalgenome.org/curation-central/?gdm=0057caed-b37d-41d7-bd79-1e9e19b3c1ef&pmid=8069305

[2020-04-01 19:37] wrightmw commented on #2048
Add "Date published"

Possibly "Date provisioned"

[2020-04-02 21:29] wrightmw commented on #2146
Confirmed just now on GCI WG call. When someone changes the MONDO ID it should automatically unpublish from the website. The curator would need to re-approve and re-publish it to the website with the new MONDO ID.

Update: since functionality would only be available for unpublished records then that would enforce this

[2020-04-02 21:43] wrightmw opened #2176 "Change source of MANE data to Ensembl API"
In order current MANE data, we will switch to obtaining this directly from the originating source via the Ensembl API.

[2020-04-02 21:44] cgpreston commented on #2176
Relates to #1868  and #2126

[2020-04-03 18:21] wrightmw opened #2177 "External Evidence Sources Ingestion and Display"
We have an existing ticket specifically for bringing in CIViC data for display in the VCI (via the LDH): see #1769 .  The purpose of this overarching ticket will be to construct a general workflow that allows for evidence from various different external resources to be automatically displayed in the VCI.  CIViC is just one exemplar dataset, but when scoping and specifying this project we need seve

[2020-04-03 21:10] GenomeDeb commented on #2177
Scoping for this feature includes:
Display Location: Linked Data Hub (LDH) content could be displayed as a row similar to ClinVar in the Basic Information tab.
Row Content: The row would summarize the content of the Linked Data Hub for that variant. It would provide either a link to the LDH for further exploration, or a direct link to the content LDH obtains (CIViC in this case).

With CIViC data

[2020-04-07 16:06] cgpreston commented on #2176
@shaungc-su : we have a new issue identified with the MAP2K2 gene, ensembl is indicating 2 canonical transcripts for the gene: https://rest.ensembl.org/vep/human/hgvs/19:g.4099279G%3EA?content-type=application/json&hgvs=1&protein=1&xref_refseq=1&ExAC=1&MaxEntScan=1&GeneSplicer=1&Conservation=1&numbers=1&domains=1&canonical=1&merged=1

Ideally we would do the following:
1. Check for multiple canoni

[2020-04-07 20:06] shaungc-su commented on #2176
Hi @cgpreston , thanks for the detail explanation! I'll include this multi-canonical transcripts case into the implementation. One follow up question:
- In your point 4, if there're multiple different canonical transcripts start with `NM`, which one should we use for variant title selection logic?

Also recently when looking at Ensembl's data, I have a few questions as below:

1. I'm currently usi

[2020-04-08 16:16] wrightmw opened #2179 "External Classification Contributors"
Currently, only ClinGen affiliations are available on the "Classification Contributor(s)" pulldown:

![Screen Shot 2020-04-08 at 07 20 56](https://user-images.githubusercontent.com/15131169/78807427-e730e880-7978-11ea-8768-23927d515952.png)

On the large GCI WG today, it  was suggested that external groups could be attributed via this same pulldown. We would need to differentiate within the GCI be

[2020-04-08 16:17] wrightmw commented on #2179
@jennifergoldtein

[2020-04-08 16:50] cgpreston commented on #2176
@shaungc-su:

if there are 2 canonical transcripts with "NM" and there is no ClinVar title or MANE transcript then please use the genomic coordinates to name the variant title.

For the multiple genes.... @wrightmw, do you have suggestions? For the title I would suggest we use the genomic coordinates to name the variant, but add a warning icon with a hoverover that indicates that the variant maps

[2020-04-08 17:34] wrightmw commented on #2176
@cgpreston We already have the caveat that if multiple genes are returned then we skip to using genomic coordinates.

[2020-04-08 18:46] wrightmw commented on #2171
Add GCEP to existing Glaucoma EP affiliation (10053):
40053 | Glaucoma GCEP

[2020-04-08 22:37] jennygoldstein commented on #2179
I am happy to help with the contributor list @wrightmw  @courtneythaxton

[2020-04-09 10:09] bryanwulf commented on #2106
@cgpreston The NDUFAF8 gene has been added to the system, so users should be able to curate it now.

[2020-04-09 16:16] cgpreston commented on #2106
@bryanwulf, thanks for letting us know!

[2020-04-09 18:41] wrightmw commented on #2171
And:
Reproduction and Infertility | 10073 | Reproduction and Infertility GCEP | 40073 |

[2020-04-10 15:31] wrightmw opened #2182 "Remove duplicate evidence from GDM"
A GDM was created by an individual. This was transferred across to an affiliation with our transfer tool, and this worked fine. The initial creator had generated an Approved and Published Classification and so the record and this Approved Classification are now correctly all the same affiliation owner. However, the individual had also scored some evidence to the "in progress" stage while acting as

[2020-04-10 19:17] h-tong commented on #2136
Hi @courtneythaxton, I changed the disease for the DSP gene curation (as well as the disease for the associated evidence if it seemed appropriate).

I noticed the following have the disease **arrhythmogenic right ventricular dysplasia 8** (MONDO:0011831):

- The second article (PMID: 28527814), the first 6 individuals
- The fourth article (PMID: 12373648), the family and individual

I decided not

[2020-04-13 14:40] wrightmw opened #2183 "Display SCVs for VCI interpretations submitted to ClinVar"
Add a new "Submission Accession" column at the end of the "All interpretations for this variant in the Variant Curation Interface (VCI)" table.

This should display the SCVs for the current interpretation displayed in ClinVar for this variant by each affiliation. These SCVs should be a hyperlink back to the SCV within ClinVar.

The likely source of the information to populate this column would be

[2020-04-13 15:31] larrybabb commented on #2183
@wrightmw I'm assuming this is feature that links VCI authored interpretations that have been submitted to clinvar. This is NOT about the SCVs for all the "externally related" SCVs in ClinVar under the same VCV or variant for a single variant interpretation in the VCI (the ClinVar data view on the variant page).  If that is correct then....

**Streaming and Consuming ClinVar weekly changes**
The B

[2020-04-14 16:00] bryanwulf commented on #2155
@wrightmw @courtneythaxton The gene information has been updated and the gene-disease record now shows the correct symbol.

[2020-04-14 18:12] #2055 closed

[2020-04-14 18:13] wrightmw opened #2184 "Delete GDMs"
Please delete this entry:
https://curation.clinicalgenome.org/curation-central/?gdm=540e060c-52e9-4bfe-b0f9-b50545483c01&pmid=21109227

This is not a curation blocker. The user created a new entry.

[2020-04-16 22:17] cgpreston opened #2185 "Add full audit trail to VCI curations"
Add an audit trail note to the VCI when the following activities occur:
1. When a user starts an interpretation
2. When a user evaluates a criteria
3. When a user adds or modifys a criteria explanation
4. When a user adds or modifys the MOI or Disease term
5. When a user adds or modifys the Modified Pathogenicity
6. When a user adds or modifys the evidence summary
7. Note: report progression (from

[2020-04-16 22:23] cgpreston commented on #2125
Confirmed by the curators, thanks @h-tong!

[2020-04-16 22:23] #2125 closed

[2020-04-16 23:55] cgpreston commented on #2134
Scoping document: https://docs.google.com/document/d/19x9sScu4fwSY2ogVcwkuYWq4s9xjhIADb2odun4SrjA/edit

[2020-04-16 23:56] #2134 closed

[2020-04-20 21:23] cgpreston opened #2186 "Add MAP3K20 gene to GCI"
Request from the Congenital Myopathies GCEP: please enable the curation of the MAP3K20 gene in the GCI.

https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/17797

[2020-04-21 19:06] wrightmw opened #2187 "Classification not switching to definitive when replication over time applied"
For strong classifications, when the replication over time is checked then the classification should automatically switch to Definitive...but it currently stays as Strong:

![Screen Shot 2020-04-21 at 12 00 41](https://user-images.githubusercontent.com/15131169/79903674-57535b80-83c8-11ea-9b2e-f7ac11f148db.png)

I can get it to change to Definitive if I refresh the browser (see below) but it shoul

[2020-04-22 21:36] wrightmw commented on #2133
One really very minor thing... could you please change "Add Clinical lab Evidence" and "Add Research lab Evidence" to "Add Clinical Lab Evidence" and "Add Research Lab Evidence", i.e. change "lab" to "Lab" in each

[2020-04-22 23:14] gcheung-SF opened #2188 "Add new dates to GCI and UNC tracking system"
Add action review/effective date to message.   The message would continue to have the date/time it was sent in the root level date attribute, and change the status attribute to an object with name and date.  For provisional and approval message, message.status.date is the user selected review/affective date; if none is set, same as message.date.   In the case of published/unpublished message.date

[2020-04-23 18:46] markmandell commented on #1917
**Steps to test:**

1. New Variant Curation, start an Interpretation
2. Navigate to Case/Segregation panel, save evaluation for any criteria, and click "Add Evidence" to bring up modal
3. Enter any PMID, preview and click "Next"
4. Enter a comma separated list of HPO IDs for the "Phenotypic feature(s) associated with proband(s) (HPO) (PP4)" input (i.e. HP:0010010, HP:0010704, HP:0030300), use Get

[2020-04-28 02:57] cgpreston commented on #2171
Please change the name of the current affiliation 10059/40059
**Current name:** Craniosynostosis | 10059 | Craniosynostosis GCEP | 40059
**New desired name:**  Craniofacial Malformations | 10059 | Craniofacial Malformations GCEP | 40059

[2020-04-28 20:54] cgpreston opened #2193 "Typo in BS2 table"
Should state "# unaffected variant carriers",

does state: "# unaffected cariant carriers"
<img width="742" alt="VCI_BS2_typo" src="https://user-images.githubusercontent.com/46766411/80536757-b7617900-8957-11ea-9985-d51d32d2a3c1.png">

[2020-04-28 20:54] cgpreston commented on #2193
@wrightmw

[2020-04-28 21:17] cgpreston opened #2194 "Change MONDO ID for AMACR gene"
Please change the MONDO ID for the GCI record created by the Peroxisomal Disorders GCEP, for the gene AMACR - congenital bile acid synthesis defect (Autosomal recessive inheritance).

They want the new MONDO ID to be: (MONDO:0013681

[2020-04-29 05:06] bryanwulf commented on #2171
These updates have been merged for R33.

[2020-04-29 15:55] #2155 closed

[2020-04-29 15:58] #2106 closed

[2020-04-29 18:02] cgpreston commented on #2136
This was a patch to the R32 instance. Confirmed on production, thanks @h-tong closing this.

[2020-04-29 18:02] #2136 closed

[2020-04-29 18:21] cgpreston commented on #1988
Confirmed expected behavior on R33 candidate using the following genes:
MAP3K20
C12orf75
NKX2-5
AAAS
ZMYM6
DICER1
CDKN2A-DT
Also confirmed I was unable to initiate curation of a GDM that already existed. Thanks @bryanwulf!

[2020-04-29 19:24] cgpreston commented on #2171
@bryanwulf , thanks! I confirmed all the above affiliations in the R33 release candidate

[2020-04-29 19:44] cgpreston commented on #1917
@markmandell, thanks! I tested this on the R33 candidate,
1. I see the HPO IDs and names when I add them to the case seg tab.
2. I tested a few scenarios: including adding the HPO terms to the new non-published evidence categories and in. the context of adding to the evidence pool for an existing variant. I also tested adding 1 and multiple HP terms.
3. I saw the information appear as expected in

[2020-04-29 20:09] cgpreston commented on #2133
Tested on R33 release candidate, added evidence to all of the 5 new evidence types and saw the information correctly populate the viewable fields.

[2020-04-29 23:14] bryanwulf commented on #2186
@cgpreston The MAP3K20 gene has been added to the system, so users should be able to curate it now.

[2020-04-30 00:38] wrightmw commented on #2171
All present and correct!

[2020-04-30 00:43] wrightmw commented on #2091
Will be fixed when #1988 goes lives with R33 release. Notify users after release.

[2020-04-30 00:43] wrightmw commented on #1988
Was able to add gene symbols of all types. Yay.

[2020-04-30 01:40] wrightmw commented on #2133
Looks great and works perfectly!

[2020-04-30 01:58] wrightmw commented on #1746
Works great!

[2020-04-30 02:40] cgpreston commented on #2186
Thanks @bryanwulf!

[2020-04-30 02:40] #2186 closed

[2020-04-30 15:33] cgpreston commented on #2171
@bryanwulf: we have some late breaking requests, is it possible for these to be added?

Catecholaminergic Polymorphic Ventricular Tachycardia | 10074 | Catecholaminergic Polymorphic Ventricular Tachycardia GCEP | 40074 |

Short QT Syndrome | 10075 | Short QT Syndrome GCEP | 40075 |

[2020-04-30 16:02] cgpreston opened #2198 "PKD1/PKD2 curation transfers"
Two GDM transfer requests from Erin, both have multiple classifications in the GCI.

1. PKD1/autosomal dominant polycystic kidney disease/AD: From Harvard/Geisinger Biocurator core TO General Gene Curation (https://curation.clinicalgenome.org/curation-central/?gdm=6c71eeab-574c-4cc7-9535-7f8f45d70d4d&pmid=8004675)

2. PKD2/autosomal dominant polycystic kidney disease/AD: From Harvard/Geisinger Bio

[2020-04-30 16:02] cgpreston commented on #2198
@gcheung-SF : so we don't forget, the ask is to have these done before May 18th.

[2020-04-30 16:18] cgpreston commented on #1746
tested on R33 candidate, looks good to me! Thanks @h-tong!!

[2020-05-01 07:26] bryanwulf commented on #2171
The three latest additions have been merged for R33.

[2020-05-01 14:39] cgpreston commented on #2171
@bryanwulf thanks,  confirmed all three show up in the R33 RC.

[2020-05-01 18:53] cgpreston commented on #2193
Confirmed on R33 RC, thanks for the speedy work @gcheung-SF

[2020-05-01 22:15] wrightmw commented on #2193
Fixed! Thank you.

[2020-05-01 22:42] wrightmw commented on #2126
@shaungc-su I found an issue when testing the new functionality for variant with long names. The ellipsis seems to be missing now and so it causes and issue with the table. For instance, if you choose ClinVar VariationID: 90973 or 9492 then is disrupts the table.

[2020-05-01 22:45] wrightmw commented on #2126
For instance, this is 90973 currently:
![Screen Shot 2020-05-01 at 15 43 39](https://user-images.githubusercontent.com/15131169/80846927-b7b17c80-8bc2-11ea-9a35-07b3f5db1dac.png)

And under the release candidate:
![Screen Shot 2020-05-01 at 15 44 10](https://user-images.githubusercontent.com/15131169/80846943-c4ce6b80-8bc2-11ea-8e4b-d82788bd8fa2.png)

[2020-05-01 22:46] shaungc-su commented on #2126
Wow that's a super long one, @wrightmw thanks for bringing this up. I'll take a look at how to resolve this.

[2020-05-04 16:07] shaungc-su commented on #2126
@wrightmw I fixed the spacing issue in the table, [this is the test instance](https://2126-sc-mane-visual-cue-rev06.demo.clinicalgenome.org). Please let me know if it's working, and I'll work on a pull request patch. Thanks!

[2020-05-04 17:47] cgpreston opened #2200 "Remove GDM/Interpretation entries"
Please remove the curation under the personal dashboard for variant NM_000543.4(SMPD1):c.739G>A (p.Gly247Ser) (ClinVar ID: 100731) for curator Meera Jairath.

[2020-05-04 21:27] cgpreston commented on #2171
@bryanwulf, is it too late for one last one?

Glaucoma/Neuro | 10077 | Glaucoma/Neuro GCEP | 40077

[2020-05-05 16:17] bryanwulf commented on #2171
The most recent addition has been merged for R33.

[2020-05-05 16:47] wrightmw commented on #2198
On the GCI WG 05/04/20, Erin requested these get moved to the  Cystic/Tubulointerstitial GCEP instead (10066)

[2020-05-11 20:16] wrightmw opened #2202 "Updates to Acknowledgement panel in GCI"
A few updates are suggested for the Acknowledgements panel:
1) color changes for the buttons
2) add instructive texts
3) label name change
4) update Contributor(s) list
5) make both lists alphabetical

[2020-05-11 20:31] wrightmw commented on #2202
1. color changes for the buttons
Because the "Preview Approval" is white, and the "Acknowledge Other Contributors" is blue, it makes curators think they have to press the "Acknowledge Other Contributors" button to proceed... consider muting the color on this button?

![Screen Shot 2020-05-11 at 13 29 31](https://user-images.githubusercontent.com/15131169/81608852-c7338100-938b-11ea-954e-6fae8cad73

[2020-05-11 20:47] wrightmw commented on #2202
@erinriggs @courtneythaxton @marinadistefano
Please check ticket above, based on our discussion today, and suggest any changes :-)

[2020-05-11 20:49] wrightmw commented on #1067
We now identify transcripts on opposite strand in the transcripts table, similar to the functionality in the Allele Registry. Was released in R33.

[2020-05-11 20:49] #1067 closed

[2020-05-11 20:50] wrightmw commented on #1876
The GCI now sends comprehensive JSON outputs to the streaming service, as of R33. So step 1 (the GCI component) of this project is now complete.

[2020-05-11 20:50] #1876 closed

[2020-05-11 20:51] wrightmw commented on #2126
Released in R33

[2020-05-11 20:51] #2126 closed

[2020-05-11 20:51] wrightmw commented on #2193
Fixed in R33

[2020-05-11 20:51] #2193 closed

[2020-05-11 20:52] wrightmw commented on #2188
Released in R33

[2020-05-11 20:52] #2188 closed

[2020-05-11 20:52] wrightmw commented on #2133
Released in R33

[2020-05-11 20:52] #2133 closed

[2020-05-11 20:52] wrightmw commented on #2187
Fixed in R33

[2020-05-11 20:52] #2187 closed

[2020-05-11 20:53] wrightmw commented on #2176
R33 release.

[2020-05-11 20:53] #2176 closed

[2020-05-11 20:53] wrightmw commented on #2171
Released in R33

[2020-05-11 20:53] #2171 closed

[2020-05-11 21:08] ErinRiggs commented on #2202
Thanks Matt!  That sums everything up nicely.  The only edit I would have is to request that we relabel the fields "Secondary Classification Contributor" and "Secondary Classification Approver."  We may also want to include some language such as: "Note: You may have a secondary classification contributor and not a secondary classification approver.  Only fill out the fields that are relevant to yo

[2020-05-12 18:39] cgpreston commented on #2198
Update: awaiting curator review of a test transfer on a developer site.

[2020-05-14 22:24] cgpreston opened #2203 "R34 Affiliation Name Updates"
Please change the affiliation name for 10066/40066:  The new name is Cystic and Ciliopathy Disorders (10066), Cystic and Ciliopathy Disorders GCEP (40066).

[2020-05-15 21:57] #2198 closed

[2020-05-18 22:49] cgpreston opened #2204 "Interoperability: VCI experience"
Display to VCI users useful information present in GCI curations.

Specifications captured here: https://docs.google.com/presentation/d/1erMmhF1MIMYHs4mpNcUh7ngXbxHIbDbGW6yshyFltlo/edit#slide=id.p

[2020-05-18 22:56] cgpreston commented on #2204
SP ticket: https://broadinstitute.atlassian.net/browse/CSP-113

[2020-05-19 17:53] wrightmw opened #2205 "Add ClinVar Submitter IDs to VCEP affiliations"
For all VCEP affiliations we need to find out and store their ClinVar submitter IDs in their affiliation files.

[2020-05-21 18:21] cgpreston commented on #2205
Added values into our affiliation spreadsheet for 8 of the approved VCEPs.

[2020-05-21 19:18] cgpreston commented on #2194
Please also change the MONDO ID for AGTR2 (https://curation.clinicalgenome.org/curation-central/?gdm=e7e649f1-6ad8-4ce0-9224-d06981a534f1&pmid=12746399)  curated by ID/Autism.

Desired new MONDO ID is:  Complex Neurodevelopmental Disorder MONDO:0100038.

PMIDs, evidence and variants associated with the entry.

[2020-05-22 17:26] cgpreston commented on #1986
An organized HGVS search string was mentioned by Marina as useful.

[2020-05-27 17:38] cgpreston commented on #1986
See page 4 in the VCI SOP for search string suggestions: https://clinicalgenome.org/site/assets/files/3677/clingen_variant-curation_sopv1.pdf

[2020-06-02 17:02] wrightmw commented on #2203
ARVC GCEP affiliation (ID: 10003) name needs to be update, at the moment is is spelled: Arrythmogenic Right Ventricular Cardiomyopathy

The correct spelling is: Arrhythmogenic Right Ventricular Cardiomyopathy

[2020-06-02 21:07] cgpreston opened #2206 "Add Submitter IDs to the user generated ClinVar submission format"
Add the ClinVar IDs to the ClinVar submit feature in the VCI.

ClinVar IDs for approved VCEPs are being collected in column G of the affiliations file and should be added there.

Note: before we start development check with the user base if any of the non-ClinGen groups also want us to add their ID (for example affiliation 10029).

Long term we should make managing this value part of the affiliati

[2020-06-03 18:32] cgpreston commented on #2114
Closing this, not needed anymore.

[2020-06-03 18:32] #2114 closed

[2020-06-03 18:33] #2110 closed

[2020-06-03 18:33] #2112 closed

[2020-06-03 18:35] #2007 closed

[2020-06-03 18:37] #1988 closed

[2020-06-03 18:41] cgpreston commented on #1724
@h-tong, @bryanwulf can we close this?

[2020-06-04 05:24] wrightmw commented on #2183
1. The submitter IDs are being collated in column G of the affiliations google sheet. These need to be added to the individual affiliation files in our database.
2. The ClinVar submission format generated by users in the VCI needs to be updated to include these submitter IDs (see #2206)
3. Add SCV to ClinVar entries for each affiliation on Basic Info Tab, mapped via the stored Submitter IDs (updat

[2020-06-05 20:57] wrightmw commented on #2142
Make it "In Progress" when someone saves at least one evaluation.

[2020-06-08 21:15] cgpreston opened #2207 "Remove "Tools" and "Recent History" boxes on dashboard"
AWS wishlist item:

1. Remove the "Tools" box from the dashboard.
     - Move the "View List of all Interpretations" link to the "My Variant Interpretations" bar
     - Move the "View list of all Gene Disease Records" link to the "My Gene Disease Records" bar
     - Note: these are both suggested moves, other locations could be used instead if needed.
2. Remove the "Recent History" box from the da

[2020-06-08 21:24] cgpreston opened #2208 "Modify fields in "My Variant Interpretations" table on dashboard"
Assumes implementation of #2207, discussed on the VCI Proxy call 6/08/20. This is an AWS wishlist item.

Make the following changes to the "My Variant Interpretation" dashboard section (ordered by priority):
1. Replace "Creation Date" field with "Last modified date"
     - Note: we need to understand the relationship between the "last modified date" and the "Approved" date
2. Add a "Classification

[2020-06-09 19:40] cgpreston commented on #2091
@wrightmw, I think this is fixed (tested it on the demo instance and it worked as expected), do you remember who we should alert that this is fixed?

[2020-06-09 19:50] #2091 closed

[2020-06-11 20:03] wrightmw opened #2209 "Stats for Case/Seg unpublished data curation pilot"
In the R33, we release the ability to capture structured case/segregation data for evidence from unpublished sources. We now need to generate an output for use by the DAPC, so they can peruse these data that have been curated into the VCI.

- This output should only return data from interpretations that have at least one field filled in for case/seg data

- We need the results from unpublished evi

[2020-06-11 20:04] wrightmw commented on #2209
@popejoy @erinriggs

Do you have anything you'd like to add to this output?

[2020-06-11 20:09] ErinRiggs commented on #2209
Would it be helpful to also include the final classification and other codes used, to determine how this data affects the overall classification?  The strength that they ultimately assigned to each piece of information?

[2020-06-11 20:12] #1609 closed

[2020-06-11 20:27] RaoMadhavrao commented on #2209
Looking into this…

Rao

From: ErinRiggs <notifications@github.com>
Reply-To: ClinGen/clincoded <reply@reply.github.com>
Date: Thursday, June 11, 2020 at 1:10 PM
To: ClinGen/clincoded <clincoded@noreply.github.com>
Cc: Lakshminarasimha Madhavrao <lmadhavr@stanford.edu>, Assign <assign@noreply.github.com>
Subject: Re: [ClinGen/clincoded] Stats for Case/Seg unpublished data curation pilot (#2209)

W

[2020-06-11 23:37] wrightmw opened #2210 "dashboard"

[2020-06-11 23:39] wrightmw opened #2211 "Changes to GCI/VCI Dashboard"
Overall Dashboard:
#2207 Remove "Tools" and "Recent History" boxes on dashboard

VCI-specific:
#2208  Modify fields in "My Variant Interpretations" table on dashboard
#1762 Add status and pathogenicity fields to the All Interpretations tables

GCI-specific:
#2053  Add new fields to GDMs table on dashboard
#1650 Show all GDMs curated by a curator/Affiliation on the dashboard

Also see feedback: #21

[2020-06-11 23:41] #2210 closed, assigned to nobody

[2020-06-12 04:25] wrightmw commented on #2194
And also:
We have a request from the MDEP to change a current MonDO ID for the gene INS for autosomal recessive inheritance.

The UUID for the curation is: https://curation.clinicalgenome.org/curation-central/?gdm=76f6c4d1-9e73-4295-bad6-890204295d7b&pmid=31441606

The current MonDO ID is permanent neonatal diabetes mellitus (MONDO:0011643)

To be changed to monogenic diabetes (MONDO:0015967).

Yo

[2020-06-12 04:34] wrightmw commented on #2184
Also, please delete this GDM that was created in error: 4208fa52-b8a7-4d83-a3b7-5748030f2187

[2020-06-17 15:13] wrightmw commented on #2205
@cgpreston
1) Submitter IDs for all remaining VCEPs need to be added
2) These submitter IDs need to be added to affiliations files in the interfaces so they are available for programmatic use, such as bringing in the correct SCVs and for ClinVar submission.

[2020-06-17 15:20] wrightmw opened #2212 "Approved Platelet Disorders VCEP - add guidelines and publishing to ERepo"
Platelet Disorders is now an approved VCEP. We need to add their guidelines to their affiliation file:
Name: ClinGen Platelet Disorders Expert Panel Specifications to the ACMG/AMP Variant Interpretation Guidelines Version 1
URL: https://www.clinicalgenome.org/affiliation/50040/docs/assertion-criteria

And, give them ability to publish the ERepo

[2020-06-18 15:02] wrightmw opened #2213 "Approved Mitochondrial Diseases VCEP - add guidelines and publishing to ERepo"
Mitochondrial Diseases is now an approved VCEP. We need to add their guidelines to their affiliation file:
Name: ClinGen Mitochondrial Disease Nuclear and Mitochondrial Expert Panel Specifications to the ACMG/AMP Variant Interpretation Guidelines Version 1
URL: https://www.clinicalgenome.org/affiliation/50027/docs/assertion-criteria

And, give them ability to publish the ERepo

[2020-06-18 20:50] wrightmw opened #2214 "Change default proband scores"
When scoring a proband where MOI is AD, XL or SD, AND "Proband with other variant type." is selected from the pulldown. Then:
1) Change text in pulldown to "Proband with other variant type"
2) The default option should be changed from 0.5 to 0.1
3) Within the "Select a score..."  pulldown add in 0.5, and remove 0.1 as options
![Screen Shot 2020-06-18 at 13 47 52](https://user-images.githubusercont

[2020-06-18 21:21] wrightmw commented on #2214
Is the above correct? @erinriggs

[2020-06-18 21:26] ErinRiggs commented on #2214
Yes!  Do you need to say that the top scenario also applies to XL inheritance, and that both scenarios apply to Semidominant inheritance?

[2020-06-18 21:39] wrightmw commented on #2214
@ErinRiggs Yes, thank you! I'll adapt the text to make that clear.

[2020-06-22 16:42] wrightmw opened #2215 "Set up training VCI instances for ClinGen Bar Harbor workshop"
We need to create 3 test/demo VCI instances with no curation data in them.

We will provide generic user log-ins so participants do not need to use their own emails or the Auth0 process.

The users can use the same password, no affiliations will be associated with users.

The sites need to be and running before July 24th 2020.

Stanford will provide an excel sheet (see example attached sheet) with

[2020-06-22 19:07] wrightmw commented on #2215
This course is virtual and will have over 500 users this time around.

Heidi could draft an email for the course organizers to send in advance and if they anticipate wanting to explore the VCI hands-on then they can request an account. And then she would like to share the Google doc, like we generated last time around, for an additional set of unassigned users who don't have an account.

[2020-06-24 18:06] wrightmw opened #2216 "Update disease term for MONDO ID"
A MONDO ID has a disease term that has been changed by MONDO, so we need to update our disease JSON with the new name:

-  MONDO:0014006 is now called "Schuurs-Hoeijmakers syndrome"

This name is already present in OLS: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0014006

[2020-06-25 10:20] bryanwulf commented on #2216
@wrightmw Our local version of the disease has been updated (to match OLS).

[2020-06-25 16:52] wrightmw commented on #2216
Thanks @bryanwulf

[2020-06-29 16:43] cgpreston commented on #2215
The plan is:
1. We set up enough instances to support ~30 people/instance - with a total of 500 users
2. For each instance we will provide the same set of 30 logins/passwords in a spreadsheet format to Heidi
3. The instances will run from July 24- August 7

We will also suggest a way to streamline signing up the students for the production VCI.

[2020-07-07 21:16] wrightmw opened #2217 "Update SOP pulldown to make v8 default"
Currently the GCI defaults to SOP v7, this needs to be updated to v8

[2020-07-07 21:17] wrightmw opened #2218 "Update GCI SOP to version 8"
1.  Update proband default scores (#2214)
2. Update SOP pulldown to make v8 default (#2217)

JIRA ticket: https://broadinstitute.atlassian.net/browse/CSP-120

[2020-07-08 19:15] wrightmw opened #2219 "Change MONDO ID for INS GDM"
We have a request from the Monogenic Diabetes GCEP to change a current MonDO ID for the gene INS for autosomal recessive inheritance.

 The UUID for the curation is: https://curation.clinicalgenome.org/curation-central/?gdm=76f6c4d1-9e73-4295-bad6-890204295d7b&pmid=31441606

 The current MonDO ID is permanent neonatal diabetes mellitus (MONDO:0011643)

 We would like to change this to monogenic di

[2020-07-08 23:45] wrightmw opened #2220 "Change variant titles to MANE-derived names"
Currently ClinVar preferred variant titles are used first, then MANE second. This needs to be switched so that MANE is used in preference for all variant titles in the VCI.

[2020-07-09 00:19] bryanwulf commented on #2219
The disease on the gene-disease record has been updated.

[2020-07-10 14:26] wrightmw commented on #1917
Released in R33

[2020-07-10 14:26] #1917 closed

[2020-07-10 14:30] wrightmw opened #2221 "Case/Seg - Tally table - option to deselect evidence shown in table"
Provide option to allow users to deselect evidence columns in the tally table.

[2020-07-10 15:11] wrightmw opened #2222 "Add ClinVar submitter IDs to Affiliation files"
Create new "ClinVar Submitter ID" field in the affiliation files.  Here is a list of the IDs to be added:

![Screen Shot 2020-07-10 at 08 07 20](https://user-images.githubusercontent.com/15131169/87169449-de57f780-c284-11ea-99bb-84fb767b6568.png)

These submitter IDs need to be added to affiliations files in the interfaces so they are available for programmatic use, such as bringing in the correct

[2020-07-10 15:13] #2205 closed, assigned to cgpreston

[2020-07-13 18:17] wrightmw opened #2223 "Update Mitochondrial Variant Titles"
1) Currently, mitochondrial gene titles imported from the ClinGen Allele Registry (CAR) do not show the amino acid change for protein-coding variants. This is problematic for mitochondrial researchers using the VCI.  We need to work with the CAR to bring in the full titles, including the protein-coding component. An example of a protein-coding mitochondrial variant is (ClinVarID:9689 ; http://reg.

[2020-07-16 15:41] wrightmw opened #2224 "Secondary Approvers and Contributors in the VCI"
Following the application of this feature in the GCI (see #1796). The CDOWG meeting on 7/15/2020 expressed interest in providing a version of this for the VCI.

[2020-07-16 15:48] wrightmw opened #2225 "Case/Seg - Confidential Notes"
Currently, there is no way for curators to store/display confidential data in the VCI. Look into ways of achieving this.

Here are the current Case/Seg Comments available in the VCI:
![Screen Shot 2020-07-15 at 09 59 47](https://user-images.githubusercontent.com/15131169/87692748-eca08a80-c740-11ea-85a4-80de03ec0f4d.png)

Here are the locations of the proposed Confidential Notes:
![Screen Shot 202

[2020-07-16 16:43] wrightmw commented on #2032
@cgpreston
On the FDA call just now.  We need this workflow to allow curators to specify if they used evidence from an external source, that is not available in the VCI.
i.e. in preference users should indicate the evidence within the VCI.... if it includes evidence not available in the VCI, we should encourage them to add this evidence to the VCI so they can then indicate it... but if not we shou

[2020-07-16 20:38] wrightmw opened #2226 "Updates to Curate Variant Information"
![Screen Shot 2020-07-20 at 13 53 50](https://user-images.githubusercontent.com/15131169/87985460-7da09a00-ca90-11ea-9193-b5613517e271.png)

[2020-07-16 20:59] cgpreston commented on #2204
Specified on 7/16/20

[2020-07-18 17:47] wrightmw opened #2227 "Approved but not Published Classifications Output"
GCWG 7/16/2020 requested data output. They need to see the Classifications that have been Approved but not yet published. So this file needs to be split per affiliation and only include those Classifications in the GCI that have been Approved but not published, and also include the Date of Approval for each example.

@RaoMadhavrao

[2020-07-20 21:02] wrightmw commented on #2226
Under Individual ---Score Proband
When a curator selects "Proband with other variant type with some evidence of gene impact" from the "Case Information" pulldown (see screenshot above):

For AD and XL:
Is there functional data to support this variant?    (yes/no)
If they say yes, then there should be a free text area that says "please describe".. and they should be prompted to score at default 0.5

[2020-07-20 21:28] cgpreston commented on #2032
Draft specifications are here, including notes notes from the VCI small proxy call on 7/20/20. https://docs.google.com/presentation/d/1z97px8hjI3BIsWd_g0BSNy_6Nrxf1UeIuT5WjDP7gdI/edit#slide=id.g8da1fb38ad_0_5

Summary of current discussion:
1. Allow users to select all evidence displayed in the VCI
2. Provide structured way for users to specify evidence not displayed in the VCI
3. We plan to build

[2020-07-21 21:54] cgpreston commented on #2032
Further notes:(from Xi):
1. We appear to be exporting to the Erepo all evidence comments (all PMIDs) EXCEPT for the case segregation tab
2. For the case segregation tab we are not exporting the comments for evidence at this time. This is intentional (we are running the non-published source pilot), but confusing to our users.
3. In the long run we need to have a private option/process for notes for

[2020-07-22 18:45] wrightmw opened #2228 "Interoperability in the GCI"
Allow GCI users to see useful VCI information about variants.

1) When users add in a Variant ID, see if there is a VCI interpretation for the variant.  For display of variant, the suggestion is to use the “All interpretations table" as a template: Variant title, Variant ID(s), Disease name/MONDO, MOI, Creator, Date created
& if an interpretation has a status of Approved in the VCI then there woul

[2020-07-28 17:13] cgpreston opened #2229 "Add aGVGD and BayesDel predictors to Variant Type tab"
Request from the TP53 team. Possible target for the LDH/external evidence project (#2177).

[2020-07-30 17:22] wrightmw commented on #2229
URLs to suggested new sources:
Align-GVGD: http://agvgd.hci.utah.edu/
BayesDel: http://fengbj-laboratory.org/BayesDel/BayesDel.html

[2020-07-31 17:26] cgpreston commented on #1746
Released 5/7/2020 in R33

[2020-07-31 17:26] #1746 closed

[2020-07-31 17:27] cgpreston commented on #2109
Released in R33 5/7/2020

[2020-07-31 17:27] #2109 closed

[2020-08-04 17:16] wrightmw opened #2230 "Add new Affiliations (R34)"
Add GRIN Disorders VCEP (10078)

[2020-08-10 19:43] cgpreston opened #2231 "Note that the ClinGen data is GRCh38 in VCI"
Brought up in the context of the PhyloP scores discussion, the VCI doesn't indicate that predictor values are aligned to GRCh38.

Suggestion is list this at the bottom note of each tab.

[2020-08-12 16:43] wrightmw opened #2232 "HGNC gene symbols in italics in Evidence Summaries"
HGNC gene symbols should be in italics in Evidence Summaries.

Reported by @courtneythaxton

[2020-08-13 16:02] wrightmw opened #2233 "Add new organisms to non-human model organism pulldowns"
Add organisms to the non-human model organism pulldowns in Experimental Data>Model Systems and Experimental Data>Rescue

Organisms to add:
Medaka (Oryzias latipes)  8090

[2020-08-13 23:22] wrightmw commented on #2233
Future feature, not for this ticket... would be dealt with in #2251 . There may be a way to allow users to add in new organisms from the NIH taxonomy browser: https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi . Perhaps download this file, and then provide a typeahead functionality instead of a pulldown?

[2020-08-14 04:53] wrightmw opened #2234 "Designating a transcript for an interpretation"
On the VCI WG call today (8/13/20), the issue of transcript selection was raised. Currently, we use CA IDs and/or ClinVar IDs to designate a variant to start an interpretation in the VCI. There can be multiple transcripts associated with a CA/ClinVar ID, and so it would be great to add the ability for curators to specify a transcript before they publish an interpretation from the VCI (to the ERepo

[2020-08-14 17:02] larrybabb commented on #2234
Thanks for getting this into amore official request @wrightmw .  As we noted using a CAID or ClinVar VariationID does not precisely describe what "variant" is being curated. I recognize we all agree that the CAIDs and VaritionIDs are a critical tool to grouping variants that are different forms of the underlying genomic change lifted over in various builds and projected onto all possible transcrip

[2020-08-17 21:50] cgpreston commented on #2215
@bryanwulf, are these still running?

[2020-08-17 22:33] cgpreston commented on #2215
Closing these, a huge thanks to @bryanwulf  for putting this all together!

[2020-08-17 22:33] #2215 closed, assigned to bryanwulf, cgpreston

[2020-08-17 22:53] bryanwulf commented on #2215
Just to close the loop, these instances have been terminated.

[2020-08-27 20:39] cgpreston commented on #2220
Logic implemented in early 2020 is #1868

[2020-08-31 23:51] wrightmw commented on #2230
Add Parkinson’s disease GCEP (10079)

[2020-09-01 17:58] cgpreston opened #2235 "Data dump for CDH1 VCEP"
Requested in August 2020 for manuscript for the CDH1 VCEP

Essential details:
(1) Variant name
(2) Current status
(3) Current classification (calculated and modified)
(4) Criteria codes applied (met)

Nice to have details:
(1) Associated PMIDs (with associated criteria if possible)
(2) Evidence Summary
(3) Contributors
(4) Criteria modifier (met)

[2020-09-01 21:45] cgpreston commented on #2219
We have another request:

Could you please change the disease association with LAMC3 in the GCI from Autism spectrum disorder MONDO:0005258 to Complex neurodevelopmental disorder MONDO:0100038?

https://curation.clinicalgenome.org/curation-central/?gdm=72b0c693-2a6d-4685-bba4-5739689faeda&pmid=23263632

[2020-09-02 18:16] cgpreston commented on #2194
ALG8 - isolated polycystic liver disease
https://search.clinicalgenome.org/kb/gene-validity/13259bf6-e954-4159-b247-c9685638e537--2020-07-29T16:52:10
Replace with MONDO:0054743 => ALG8 - polycystic liver disease 3 with or without kidney cysts

PRKCSH - isolated polycystic liver disease
https://search.clinicalgenome.org/kb/gene-validity/83607ef3-6ec2-4d63-991a-4aeb3f7c2a25--2020-08-03T14:13:07
Repl

[2020-09-03 15:09] wrightmw commented on #2203
Please change name of Retinal GCEP  to Retina (10072) and Retina GCEP (10072)

[2020-09-03 18:10] cgpreston commented on #2200
please also remove this GCI entry:   https://curation.clinicalgenome.org/curation-central/?gdm=e028a23c-128a-4463-b839-a79385801728&pmid=14678799 for curator Autumn Self

[2020-09-14 19:33] #1985 closed

[2020-09-14 19:34] wrightmw opened #2236 "Ability to Upload Images"
In the GCI:
1. pedigree images
2. patient MRI images

In the VCI:
1. Alamut screenshot (visual determination of splicing-related impact)
2. Graph pad quick calculator image

Note: need to make sure have rights to capture/show images

[2020-09-14 20:21] cgpreston opened #2237 "VCI splicing link changes"
From discussions in #2047. This is phase 1 of the splicing predictor improvement.

1. Add a link to the SpliceAI tool in the VCI > Variant Type tab > [Missense, Silent & Intron] tabs > "Splice Site Predictors" section. Link should go to: https://spliceailookup.broadinstitute.org/
2. Add a link to the varSEAK tool in the same sections. Link should go to https://varseak.bio/. Please also add an info

[2020-09-14 20:24] cgpreston opened #2238 "Display SpliceAI values in the VCI"
From discussions in #2047

Incorporate the SpliceAI tool built by the Broad (https://spliceailookup.broadinstitute.org/) to display the output directly in the VCI.

May require the LDH .

Builds on #2237

[2020-09-14 22:28] wrightmw commented on #2230
And Humoral Defects GCEP (10080)

[2020-09-15 16:03] wrightmw opened #2239 "spliceai"

[2020-09-15 16:04] #2239 closed, assigned to nobody

[2020-09-15 17:53] #194 closed

[2020-09-15 18:04] cgpreston commented on #2194
Also for STXBP1:  https://curation.clinicalgenome.org/curation-central/?gdm=311256a2-daf8-42c6-8700-913401df1e02&pmid=18703708

Please change to Complex neurodevelopmental disorder MONDO:0100038

[2020-09-16 19:42] cgpreston commented on #2194
Also for GK: https://curation.clinicalgenome.org/curation-central/?gdm=182d4eda-fdff-4a3e-8717-f65b8ca2e6ad&pmid=11479736

Please change to glycerol kinase deficiency, juvenile form (MONDO: 0017295)

[2020-09-18 10:12] bryanwulf commented on #2203
These updates have been merged to dev and added to the test/prod sites.

[2020-09-18 10:13] bryanwulf commented on #2212
This update has been merged to dev and added to the test/prod sites.

[2020-09-18 10:13] bryanwulf commented on #2213
This update has been merged to dev and added to the test/prod sites.

[2020-09-18 10:14] bryanwulf commented on #2230
These updates have been merged to dev and added to the test/prod sites.

[2020-09-18 17:00] cgpreston commented on #2203
Updated the affiliation coordinators that the changes were made, thanks @bryanwulf.

[2020-09-18 17:00] #2203 closed, assigned to bryanwulf

[2020-09-18 18:34] cgpreston commented on #2230
Affiliation coordinators have been updated. Thanks @bryanwulf .

[2020-09-18 18:34] #2230 closed, assigned to bryanwulf

[2020-09-21 23:18] cgpreston opened #2240 "GCI entry with duplicated evidence"
This curation was transferred in #1737, it is now showing duplicate evidence, can you investigate the cause of the issue?

https://curation.clinicalgenome.org/curation-central/?gdm=c5ace529-6b4e-41af-ac51-a76a844e642e&pmid=26173643

[2020-09-23 19:21] wrightmw opened #2241 "Update Humoral Defects affiliation to include VCEP"
Currently Humoral Defects affiliation is for GCEP only, update their file to include a VCEP too (50080 | Humoral Defects VCEP)

[2020-09-24 20:10] cgpreston commented on #2194
Two more:

CNTNAP2 is currently associated with the term autism (disease) in the GCI. I would like to request a change to the term autism spectrum disorder MONDO:0005258. https://curation.clinicalgenome.org/curation-central/?gdm=dba70f54-6c6a-4123-b289-89db8b7cfd87&pmid=18179893

NSUN2 is associated with the term intellectual disability in the GCI. I would like to request a change to the term synd

[2020-09-24 20:14] cgpreston commented on #2194
~~The following curation URL needs the MONDO ID changed: https://curation.clinicalgenome.org/curation-central/?gdm=bcf37d23-7a73-44d9-a547-ce2df2e4f271&pmid=15249230~~
~~The MONDO ID should be changed to the following: MONDO:0005021~~
CGP Note: this request was done in November 2020

[2020-09-24 20:22] cgpreston commented on #2184
Please delete this GCI entry: The following curation URL needs to be deleted: https://curation.clinicalgenome.org/curation-central/?gdm=0b2ab686-55cb-47d2-b8d0-c5ded2cdf835&pmid=29208631

(JPH2 AD inheritance)

[2020-10-05 20:29] cgpreston commented on #2235
Data was sent to the coordinator on 10/5/20.

[2020-10-05 20:29] #2235 closed, assigned to nobody

[2020-10-09 17:09] wrightmw opened #2242 "New Affiliations in 2.0 Release"
Add new affiliations:
10081 | 40081 | SCID-CID GCEP
10082  | 50082 | LCA/eoRD VCEP

[2020-10-13 20:43] #2216 closed, assigned to bryanwulf

[2020-10-13 20:50] cgpreston commented on #2194
~~From #2219~~
~~We have another request:~~

~~Could you please change the disease association with LAMC3 in the GCI from Autism spectrum disorder MONDO:0005258 to Complex neurodevelopmental disorder MONDO:0100038?~~

~~https://curation.clinicalgenome.org/curation-central/?gdm=72b0c693-2a6d-4685-bba4-5739689faeda&pmid=23263632~~

-CGP note: request completed 11/22/20

[2020-10-13 20:52] cgpreston commented on #2219
Thanks @bryanwulf  for updating the first request, the second request was merged into #2194

[2020-10-13 20:52] #2219 closed, assigned to bryanwulf

[2020-10-14 14:48] wrightmw opened #2243 "Make Evidence Summaries Required"
In the GCI, evidence summaries are currently strongly recommended but the GC WG agreed on 10/14/20 that they should be required. Therefore, we need to:
1. change text from "Evidence Summary (optional)" to "Evidence Summary (required)"
2. if someone tries to save a Classification and this field is empty, then they should get an error message and be unable to Save until they have added some text

@c

[2020-10-14 16:21] ErinRiggs commented on #2243
Perfect - thank you Matt!

Erin Rooney Riggs, MS, CGC

Assistant Professor

Certified Genetic Counselor

Autism & Developmental Medicine Institute

Geisinger

eriggs@geisinger.edu<mailto:eriggs@geisinger.edu>

________________________________
From: Matt W. Wright <notifications@github.com>
Sent: Wednesday, October 14, 2020 9:48 AM
To: ClinGen/clincoded <clincoded@noreply.github.com>
Cc: Riggs, Eri

[2020-10-14 16:48] wrightmw opened #2244 "Ability to Add Tags to Interpretations"
Discussed on GCWG call today (10/14/2020). Need to specify what tags would be useful for use in the GCI. A parallel project is currently underway in the VCI (#2093 ).

What are the different use cases in the GCI? Good topic for a Monday call?

@erinriggs @courtneythaxton @marinadistefano

[2020-10-15 00:40] bryanwulf commented on #2241
This update has been merged to dev and added to the test/prod sites.

[2020-10-15 00:40] bryanwulf commented on #2242
These updates have been merged to dev and added to the test/prod sites.

[2020-10-15 20:15] wrightmw commented on #2179
Also, discuss the ordering. Perhaps change to alphabetical?

[2020-10-15 20:17] wrightmw commented on #2179
Shall we see if we can generate a first pass of this list on Monday with groups we know for sure we want to add? Also, we need to discuss the order... perhaps change to alphabetical?

@courtneythaxton @marinadistefano @erinriggs

[2020-10-15 20:56] jennygoldstein commented on #2179
So far, just Myriad Women's Health. They have completed our Gene Curation Contributor Data Contributor form. We only received a couple of spreadsheets from Illumina, which I sent to Xi. I need to check back with him to see if he used the data.

[2020-10-15 22:19] wrightmw commented on #2093
We'd like the ability for VCEPs to add tags to curations in the VCI - such as "pilot variant", "conflict resolution", etc. This would help when VCEPs need to do targeted queries about specific scenarios

Tag use cases:

Alerts (e.g. new publication, new ClinVar entry, time for re-evaluation, etc) Auto-tags added by VCI

New ClinVar entry

Triggered by: new ClinVar entry for the variant that is a d

[2020-10-16 16:24] cgpreston commented on #2242
Thanks @bryanwulf

[2020-10-16 16:24] #2242 closed, assigned to bryanwulf

[2020-10-16 16:25] cgpreston commented on #2241
Thanks @bryanwulf

[2020-10-16 16:25] #2241 closed, assigned to bryanwulf

[2020-10-16 18:11] cgpreston commented on #2148
Three more requested deletions:
1. https://curation.clinicalgenome.org/variant-central/?edit=true&variant=c135004b-1342-4843-8bfb-93c6d21a7dd9&interpretation=ec757903-43d6-412e-8fb3-8670f12fda41
2. https://curation.clinicalgenome.org/variant-central/?edit=true&variant=3c1b74b6-7d9f-4bd5-af56-aa951bc6fbd2&interpretation=fc20f523-9ccd-4bd5-9202-84d88c7ebfc7
3. https://curation.clinicalgenome.org/var

[2020-10-19 20:54] wrightmw opened #2245 "Experimental Pulldown Scoring Options"
Change the pulldown options for scoring all types of experimental evidence in the GCI, to always include the full list of values below 1:
0, 0.1, 0.25, 0.5, 1, ...

EXAMPLES:
1) For Model Systems the current options are:
0, 0.5, 1, 1.5, 2.5, 3, 3.5, 5

![Screen Shot 2020-10-19 at 13 42 17](https://user-images.githubusercontent.com/15131169/96509522-01ddf700-1211-11eb-92d1-dbfc69b8a59f.png)

And so

[2020-10-19 21:14] wrightmw opened #2246 "Add Contributor Affiliations"
Need to add in two new affiliations for external contributors. They will have no members, no rights to curate nor publish, etc... but they will have a name and an affiliation ID, and appear in the pulldown in #2179

[2020-10-21 16:34] wrightmw opened #2247 "Update Peroxisomal Disorders affiliation to include VCEP"
Currently Peroxisomal Disorders affiliation is for GCEP only, update their file to include a VCEP too (50049 | Peroxisomal Disorders VCEP)

[2020-10-21 16:36] #2212 closed, assigned to bryanwulf

[2020-10-21 16:36] #2213 closed, assigned to bryanwulf

[2020-10-21 18:52] wrightmw opened #2248 "Troubleshooting Guides"
1) standard troubleshooting template for help desk responses
2) troubleshooting verbiage to be added to pulldown in interfaces banner

[2020-10-22 15:30] wrightmw opened #2249 "Update GeneTracker URLs"
Change name of link from "Gene Tracking System" to "GeneTracker", and update the URL to https://gene-tracker.clinicalgenome.org in two locations:

1. in the header Help pulldown
2. on the Create GDM page

@courtneythaxton please check above is correct.

[2020-10-22 15:33] yugen commented on #2249
The url is correct.  I'll let @courtneythaxton confirm that the change locations are sufficient and correct.

[2020-10-22 15:42] courtneythaxton commented on #2249
The two places indicated to update the Url are accurate. Thanks @wrightmw !

[2020-10-28 15:55] cgpreston opened #2250 "Add varSEAK splicing links to VCI"
Add a varSEAK tool link in the splicing sections in the Variant Type tab.

DRAFT specifications:
1. If possible construct the URL based on the variant's:
Gene (HGNC Gene Symbol, e.g. CFTR)
RefSeq transcript (most likely the transcript used to construct the variant title, e.g. NM_000492.4)
HGVS c.nomenclature (also found in variant title, e.g. c.1585-8G>A)
     * example URL: https://varseak.bio/ss

[2020-10-29 13:58] jennygoldstein commented on #2250
Here are a couple of blurbs (one very short and one longer) about varSEAK, including the link to the documentation and video. I think either blurb is fine to use, depending on the context. Does this look OK?

**Short version:**
"VarSEAK provides the JSI splice site prediction tool to predict the splicing effects of genetic variants. For more information on this tool and how to use it, see https://

[2020-10-30 15:47] wrightmw opened #2251 "Ability to Add New Organisms to Non-human Model Organism Pulldowns"
Allow users to add in new organisms from the NIH taxonomy browser: https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi , or via OLS.

Or maybe download this file, and then provide a typeahead functionality instead of a pulldown?

[2020-11-01 18:10] wrightmw opened #2252 "Sorting ClinVar data on Basic Information tab"
Request for ClinVar and VCI classifications that are on the "Basic Information" tab be sorted. Sorting, to be confirmed by VCI WG, could be by approval status and then by recency (most recent at top) within approval status. For ClinVar, it should be sorted by star level (4 star, then 3 star, then 1 star then 0 star and then within the star level, it should be by recency).

Example:
https://curatio

[2020-11-04 22:37] cgpreston commented on #2194
~~Please change the ID for  ZNF711 to MONDO:0100148 X-linked complex neurodevelopmental disorder. This is the GDM link: https://curation.clinicalgenome.org/curation-central/?gdm=1bb8bc84-fe02-4a05-92a0-c0aacf897b6e&pmid=25956375~~

CGP Note: Request completed 11/22/20

[2020-11-10 21:55] cgpreston opened #2253 "Affiliation updates for 2.0"
Please add affiliation Plon-Cancer Research, affiliation 10083. This is a non-ClinGen group and will not have publishing permissions.

[2020-11-11 18:59] wrightmw opened #2254 "Add Final Approval Date to Evidence Summary"
Update the Evidence Summary to include the "Final Approval Date" so that this appears in the PDF output.

That is, the "Final Approval Date" as seen here in the Approve Classification modal:

![Screen Shot 2020-11-11 at 10 56 27](https://user-images.githubusercontent.com/15131169/98852712-eb404f80-240c-11eb-863d-1147ddd9725b.png)

Should be shown in the header of the Evidence Summary:
![Screen Sho

[2020-11-11 19:01] wrightmw commented on #2254
@ErinRiggs @marinadistefano @courtneythaxton

Where would you like the "Final Approval Date" to appear in the Evidence Summary header? Maybe put it under the "Date Classification saved" then move "Disease" to the LHS column?

[2020-11-11 19:05] ErinRiggs commented on #2254
I think "disease" can move to the left column.  I would like the "Final Approval Date" to be the most prominent date, so I'm thinking maybe right under "classification status"?

[2020-11-12 18:53] courtneythaxton commented on #2254
I agree with those specifications.

[2020-11-12 18:59] marinadistefano commented on #2254
I also agree

On Thu, Nov 12, 2020 at 1:54 PM courtneythaxton <notifications@github.com>
wrote:

--

*Marina DiStefano, Ph.D.  *| Assistant Professor

Clinical Lab Director

Geisinger

The Broad Institute

105 Broadway Cambridge, MA, 02139

Email: mdistefa@broadinstitute.org

mtdistefano@geisinger.edu

[2020-11-23 19:02] #2022 closed

[2020-11-23 19:04] #2206 closed, assigned to nobody

[2020-11-23 19:37] #2003 closed

[2020-11-23 19:41] courtneythaxton commented on #2116
@wrightmw I had one more question, that may likely result in another ticket beyond this, but thought to place it here as it is related. It might also be advantageous to consider a request for a user to be able to change a MOI, especially given the changes we are considering for the new SOPv8, we may have better capabilities in the near future for this change over. Thoughts?

[2020-11-23 21:15] wrightmw opened #2255 "GCI SOPv8 Major Updates"
Updates to Curate Variant
https://github.com/ClinGen/clincoded/issues/2226

Also:
Add Final Approval Date
https://github.com/ClinGen/clincoded/issues/2254

Change note in Explanation box for scoring
https://github.com/ClinGen/clincoded/issues/1630

[2020-11-23 21:25] wrightmw opened #2256 "Ability to Change MOI"
It might also be advantageous to consider a request for a user to be able to change a MOI, especially given the changes we are considering for the new SOPv8, we may have better capabilities in the near future for this change over.

@courtneythaxton Let's discuss this as soon as possible.

[2020-11-23 21:29] wrightmw commented on #2256
One issue with changing MOI is that the UI logic is different for some MOIs so it would have to be decided if/how these data should be migrated when the MOI is changed.

[2020-11-23 22:21] cgpreston opened #2257 "VP: logic for molecular consequences"
For  launch of the VP,  we wish to leverage the [MANE project](https://www.ncbi.nlm.nih.gov/refseq/MANE/) to streamline and clarify the molecular consequences view (columns) and filter experience for users.

**Version 1:**  (needed for launch)
1. Display only the molecular consequence of the MANE select RefSeq transcript for the variant.
2. Update the column header to say "Molecular Consequences -

[2020-11-23 22:22] cgpreston commented on #2257
<img width="1260" alt="Screen Shot 2020-11-23 at 2 19 13 PM" src="https://user-images.githubusercontent.com/46766411/100021976-3d7f5a00-2d97-11eb-9c62-b897dcabe40e.png">

[2020-11-23 22:22] cgpreston commented on #2257
<img width="1288" alt="Screen Shot 2020-11-23 at 2 19 03 PM" src="https://user-images.githubusercontent.com/46766411/100022024-4ff99380-2d97-11eb-8909-1dcda4cff6f7.png">

[2020-11-23 22:23] cgpreston commented on #2257
<img width="1260" alt="Screen Shot 2020-11-23 at 2 19 13 PM" src="https://user-images.githubusercontent.com/46766411/100022055-60117300-2d97-11eb-8721-57ed0a2dc4ad.png">

[2020-11-25 01:28] wrightmw opened #2258 "Update Kidney WG Expert Panel Affiliation Names"
Update all the kidney working group expert panel affiliation names to start with "Kidney" as follows:
Kidney Cystic and Ciliopathy Disorders | 10066
Kidney Tubulopathies | 10067
Kidney Glomerular | 10068
Kidney Complement | 10069

[2020-12-01 16:52] wrightmw opened #2259 "Add Dummy Affiliations"
Add two dummy affiliations (70001 & 70002)... see Affiliations spreadsheet. These dummy affiliations will never have any members but are required for tracking work added by these affiliations by others, such as for Contributors.

[2020-12-01 16:57] wrightmw commented on #2179
Two new in the list will be:
Myriad Women's Health (10084)
Illumina (10085)

[2020-12-01 17:00] wrightmw commented on #2246
Add two dummy affiliations (10084 & 10085)... see Affiliations spreadsheet. These dummy affiliations will never have any members but are required for tracking work added by these affiliations by others, such as for Contributors.

[2020-12-01 17:00] wrightmw commented on #2259
closed because duplicate of #2246

[2020-12-01 17:00] #2259 closed, assigned to bryanwulf

[2020-12-01 20:36] cgpreston commented on #2200
Please also remove this curation: (https://curation.clinicalgenome.org/curation-central/?gdm=9b59f9f6-b4ae-4e5f-b4e2-1b9d29690597&pmid=9182667)

[2020-12-03 20:03] cgpreston opened #2260 "User email update tool"
Explore ways to allow Stanford Product Managers (and maybe coordinators in the future) to update user emails for the VCI/GCI. This is becoming a large proportion of our helpdesk requests.

Suggestion to to create an admin tool, but we could also consider other options (could users update their email's themselves?)

[2020-12-07 19:09] wrightmw opened #2261 "Links to MGI data in the GCI"
Display links to MGI when model data can be found that is relevant to that record. Requires specification.

@courtneythaxton

[2020-12-08 22:15] cgpreston commented on #2148
Another requested deletion: https://curation.clinicalgenome.org/variant-central/?edit=true&variant=54cc1525-caf2-40a8-b9c6-9f50bc19b3c6&interpretation=686b3a39-8780-4c4c-b4fa-c91e807c56d2

[2020-12-08 22:24] cgpreston commented on #2148
And another: https://curation.clinicalgenome.org/variant-central/?edit=true&variant=2b7148fe-df53-4dab-aceb-0c6f166f331f&interpretation=20aa611f-0eea-4adb-a76b-6c97a1ea3a5c

[2020-12-09 18:48] wrightmw commented on #1674
This will be covered in #1466

[2020-12-09 18:48] #1674 closed

[2020-12-09 18:53] wright commented on #1674
Courtney, please note that "wright" and "wrightmw" are not the same person.

[2020-12-15 01:16] courtneythaxton opened #2262 "Transfer TTR GDM from HCM GCEP to the General GCEP affiliation"
Hi @wrightmw I would like to request the transfer of the record for TTR from the HCM GCEP to the General GCEP.

The UUID for the record is: https://curation.clinicalgenome.org/provisional-curation/aab4cbd0-dd42-4c63-8597-70e1e316a5d6

[2020-12-17 18:38] wrightmw commented on #2253
There are now multiple other affiliations to add, see the affiliations spreadsheet

[2020-12-17 18:51] wrightmw commented on #2148
Another interpretation to be deleted: the one under Emma (https://curation.clinicalgenome.org/variant-central/58316acc-40fa-4e74-92be-557a6238e09f/interpretation/4a6716cb-b114-40e9-8615-273612cf6ff1)

[2020-12-19 22:36] wrightmw opened #2263 "Add new Approvers"
Phenylketonuria (10015) needs two new Approvers added their Affiliations file:
Emily Groopman
Justyne Ross

[2021-01-07 01:20] wrightmw opened #2264 "Transfer RPE65 GDMs to Retina GCEP affiliation"
Transfer both RPE65 curations from the Biocuration core to the Retina GCEP (10072)?

Here are the links for both AR and AD:

https://curation.clinicalgenome.org/curation-central/7a4c25e6-ae9d-4b5e-8ea1-4a26c13b6464
https://curation.clinicalgenome.org/curation-central/835b799d-f8b5-4afc-bb2a-54dd683caba8

[2021-01-07 01:28] wrightmw commented on #2263
Deployed to prod today

[2021-01-07 01:28] #2263 closed, assigned to nobody

[2021-01-07 01:28] wrightmw commented on #2258
Deployed to prod today

[2021-01-07 01:28] #2258 closed, assigned to bryanwulf

[2021-01-07 01:29] wrightmw commented on #2247
Deployed to prod today

[2021-01-07 01:30] wrightmw commented on #2246
Deployed to prod today

[2021-01-07 01:30] #2246 closed, assigned to bryanwulf

[2021-01-07 01:30] wrightmw commented on #2253
Deployed to prod today

[2021-01-07 01:30] #2253 closed, assigned to nobody

[2021-01-07 01:31] #2247 closed, assigned to bryanwulf

[2021-01-07 02:53] #2233 closed, assigned to nobody

[2021-01-07 02:53] #2217 closed, assigned to nobody

[2021-01-07 03:04] wrightmw opened #2265 "Display VCI records when returning variants for Search and Select Variant"
When a curator creates a new record in the VCI and is directed to the Search and Select Variant page, upon retrieving details of that variant (such as CAID, ClinVar, and HGVS data) then details of existing entries for that variant in the VCI should also be shown.

That is, if entries already exist for that variant in the VCI then those entries should be displayed under the HGVS terms. Similar to h

[2021-01-11 22:58] cgpreston commented on #1791
In Fall 2020 the VCI proxy group recommended not moving forward with this feature.

[2021-01-14 03:43] cgpreston opened #2266 "Add audit trail to GDMs"
Sister ticket to #2185. Goal is to keep the same user experience, but details of evidence to be captured and language still need to be determined.

Biggest question is how to best capture the nested nature of the GCI data while making the audit trail useful.

VCI specs are shown here: https://docs.google.com/presentation/d/1XyUyKnXndrsEXUM3Rqc-Qv3lUJkI1FOg0uQl-K-hWI0/edit#slide=id.p

[2021-01-15 18:17] cgpreston opened #2267 "Investigate gnomAD data and variantType"
Some users have reported not being able to see gnomAD data for variants in the VCI, examples:
1. CA16020812
    * Note: this variant is also showing the warning "The current variant is in a non-coding region." in the "ClinVar Variants" section, which is incorrect.
2. CA8814993
3. CA501078
4. CA190727690
5. CA586896135

This issue was reported after the 2.0 release and investigated by @markmandell

[2021-01-25 23:39] cgpreston commented on #2146
Desired functionality (part1) was released in the 2.0 rearchitecture project.

[2021-01-26 18:28] cgpreston commented on #2184
Another request:
Please can you delete the following records from the GCI? I am cleaning up our Aminoacidopathy GCEP list;

MMAB : vitamin B12-responsive methylmalonic acidemia, type cblB
https://curation.clinicalgenome.org/curation-central/e96c2942-3a0b-4b37-990f-210fbe399fb1

MMAA : vitamin B12-responsive methylmalonic acidemia
 https://curation.clinicalgenome.org/curation-central/98cb44c2-b520-

[2021-01-26 23:49] cgpreston commented on #2148
Another one: https://curation.clinicalgenome.org/variant-central/686e965e-1be1-41f7-9e19-cf653c9f68c7/interpretation/da5c3cbc-0533-4577-a533-a946417f9c18/

[2021-01-27 21:10] cgpreston opened #2268 "Proxy user level and access"
Create a "proxy" user level (this would be for the ClinGen proxies and similar folks, probably around a dozen people).

Grant these folks feature access to:
1. The curation transfer tool
     * Need to ensure they also have access to the needed info (user UUIDs for example)
     * Could we also add a delete functionality in this feature?
2. Common reports
     * Current number of curations in each

[2021-01-28 19:12] cgpreston commented on #2220
Released in 2.0 December 2020 release.

[2021-01-28 19:12] #2220 closed, assigned to shaungc-su

[2021-01-29 22:10] cgpreston opened #2269 "Update criteria evaluation labels in VCI"
Summary of requirements, this is a SP ticket: https://broadinstitute.atlassian.net/browse/CSP-144

1. Add new manual criteria evaluation status "Not Applicable"
2. Rename current default status from "Not Evaluated" to "Not Applied"
    * Migrate all historical "Not Evaluated" criteria to be listed as "Not Applied"
3. Update messages sent to Erepo to include all statuses (for future Erepo developme

[2021-02-01 21:12] cgpreston opened #2270 "Add criteria modifiers to VCI Dashboard Met field"
The curators want to see any criteria code modifier values in the VCI "Met" field in the dashboard.

It would be acceptable to keep the UI portion as it currently is, but have a tool tip mentioning that the criteria shown do not display any modifiers and add a field to the .csv download that lists all criteria modifications (i.e. list all criteria, including any strength modifications made).

[2021-02-05 21:55] cgpreston opened #2271 "Add hemizygote data to gnomAD section of VCI"
Add the number of hemizygotes to the gnomAD output for X-linked genes.

From Jenny:  For X-linked genes, number of hemizygotes from gnomAD needs to be included. This data is important for assessment of variants in X-linked genes e.g. SLC6A8 as one example.

Example of this output (for ClinVar ID: 255835)

gnomAD shows hemizygote counts for exomes and genomes.  https://gnomad.broadinstitute.org/var

[2021-02-08 19:11] cgpreston commented on #2234
Use case from Erin 1.20.21:

3 variants curated in the gene CDKL5 are displaying with variant names that indicate that they are in another gene, RS1.  The ClinVar IDs link to the correct (intended) variants, but the display name is incorrect.  The evidence entered corresponds to what is expected to be present for the intended variant.

They are:
NM_000330.4(RS1):c.185-3188G>A (https://curation.cli

[2021-02-09 22:18] cgpreston opened #2272 "Data refreshing in the VCI"
Improve the VCI data refresh process.

Suggested to do list for this project:
1. Define the scope needed.
2. Identify possible solutions
Jira ticket 495

[2021-02-18 21:05] cgpreston commented on #2243
Was released in post-VCI/GCI release as CLINAWS-314

[2021-02-18 21:06] #2243 closed, assigned to nobody

[2021-02-18 21:08] courtneythaxton commented on #2236
The GCI group felt this was a lower priority. Concerned of copyright issues.

[2021-02-18 21:24] cgpreston commented on #2079
@h-tong , can we close this with the rearchitecture?

[2021-02-18 21:24] courtneythaxton commented on #2053
Is this for the All gene disease record page, each affiliation or both?

[2021-02-18 21:27] courtneythaxton commented on #2043
The GCI Group would like to make this a priority ticket, to highlight the need to update the date, consistent with the Evidence Summary, and for the SOP version as well.

We feel the biocurators may be arbitrarily saving without looking at this field and double checking this.

[2021-02-18 21:29] courtneythaxton opened #2273 "GDM Evidence Summary pdf exportable to excel or .csv"
The GCWG would like to request if the Evidence summary pdf can be downloaded as a excel or .csv file to allow enhanced editing capabilities.

We also would like to make this an SP request.

[2021-02-18 21:34] h-tong commented on #2079
@cgpreston Yes, we can close this.

[2021-02-18 21:38] cgpreston commented on #1931
Close at the request of gene curation working group.

[2021-02-18 21:38] #1931 closed

[2021-02-18 21:40] cgpreston commented on #1810
Closing at the request of the gene curation working group

[2021-02-18 21:40] #1810 closed

[2021-02-18 21:41] #1809 closed

[2021-02-18 21:42] cgpreston commented on #1805
Closing as this need is removed by SOP8

[2021-02-18 21:42] #1805 closed

[2021-02-18 21:43] cgpreston commented on #1804
Closing this as addressed

[2021-02-18 21:43] #1804 closed

[2021-02-18 21:43] cgpreston commented on #1749
Closing this at request of @courtneythaxton

[2021-02-18 21:43] #1749 closed

[2021-02-18 21:47] cgpreston commented on #1743
@wrightmw : gene curation working group recommended closing this.

[2021-02-18 21:49] cgpreston commented on #1623
Closing this in favor of the GCI audit trail

[2021-02-18 21:49] #1623 closed

[2021-02-18 22:05] cgpreston commented on #2079
Thanks @h-tong

[2021-02-18 22:05] #2079 closed

[2021-02-23 16:38] #1743 closed

[2021-02-23 16:39] #1729 closed

[2021-02-23 16:39] #1897 closed

[2021-02-23 16:49] wrightmw commented on #2273
@courtneythaxton
- What does "enhanced editing capabilities" mean? What in the Evidence Summary do you need to be editable?
- The evidence summary contains multiple different tables. It has header information tables, and evidence summary table, a classification matrix, and then 4 evidence tables. Which of all of these would you require in the CSV output?

[2021-02-23 20:39] wrightmw opened #2274 "Update Evidence Summary link in Classification Matrix"
At the bottom of the classification matrix we currently provide a link from "View Example Evidence Summary Text", that currently links to:
https://clinicalgenome.org/site/assets/files/3439/gene_curation_evidence_summary_12_11_18.pdf

but needs to be updated to link to:
https://clinicalgenome.org/docs/standardized-evidence-summary-text/

[2021-02-26 21:11] cgpreston opened #2275 "PHI warning for non-published evidence"
Warn users when PHI is potentially entered from non-published evidence. The user should be able to identify why the text was flagged and elect to edit the text or ignore the warning.

Alongside this: consider updating the interfaces with additional guidelines on how to best avoid PHI (for example: use age groups instead of specific ages, remove locations and labs when possible).

One option is to

[2021-03-01 17:20] wrightmw opened #2276 "Update gnomAD to V4"
We plan to update gnomAD to v4, when available, and several updates will happen at the same time:
#2271 - Add hemizygote data
#1995 - Add filtered frequencies
#1977 - Update Constraint scores
#1994 - Update HMAF
#1974 - Use LDH as source
#2277 - Non-cancer data set selection

[2021-03-01 17:35] wrightmw opened #2277 "gnomAD non-cancer data set selection"
With GnomAD v4 we need to allow curators to specifically select the non-cancer set.

[2021-03-08 22:18] wrightmw opened #2278 "UI changes for Evidence Summary linking"
Re-arrange UI to make it more obvious how to link to view the Provisional and Approved evidence summaries in the GCI.

![Screen Shot 2021-03-08 at 14 17 09](https://user-images.githubusercontent.com/15131169/110389256-1f252d80-8019-11eb-8b38-4c2078286d30.png)

![Screen Shot 2021-03-08 at 14 17 27](https://user-images.githubusercontent.com/15131169/110389270-23e9e180-8019-11eb-9580-1e577bd8f17c.png

[2021-03-09 03:16] #821 closed

[2021-03-09 03:17] wrightmw commented on #1088
Will be accomplished by VP

[2021-03-09 03:17] #1088 closed

[2021-03-09 03:22] #398 closed

[2021-03-09 03:23] wrightmw commented on #1650
Was added into 2.0

[2021-03-09 03:23] #1650 closed

[2021-03-09 03:25] wrightmw commented on #1548
Will be done as part of Labels/Tags/Alerts project

[2021-03-09 03:25] #1548 closed

[2021-03-09 03:25] #1544 closed

[2021-03-09 03:26] wrightmw commented on #1254
Gene impact is changing in SOPv8 so this ticket is no longer required

[2021-03-09 03:29] #48 closed

[2021-03-09 03:29] #52 closed

[2021-03-09 03:29] #101 closed

[2021-03-09 03:29] #103 closed

[2021-03-09 03:29] #109 closed

[2021-03-09 03:29] #119 closed

[2021-03-09 03:29] #122 closed

[2021-03-09 03:29] #195 closed

[2021-03-09 03:29] #259 closed

[2021-03-09 03:29] #281 closed

[2021-03-09 03:29] #287 closed

[2021-03-09 03:29] #305 closed

[2021-03-09 03:29] #364 closed

[2021-03-09 03:29] #380 closed

[2021-03-09 03:32] #381 closed

[2021-03-09 03:32] #406 closed

[2021-03-09 03:32] #434 closed

[2021-03-09 03:32] #531 closed

[2021-03-09 03:32] #551 closed

[2021-03-09 03:32] #565 closed

[2021-03-09 03:32] #591 closed

[2021-03-09 03:32] #691 closed

[2021-03-09 03:32] #920 closed

[2021-03-09 03:32] #970 closed

[2021-03-09 03:32] #980 closed

[2021-03-09 03:32] #1026 closed

[2021-03-09 03:32] #1029 closed

[2021-03-09 03:32] #1175 closed

[2021-03-09 03:32] #1216 closed

[2021-03-09 03:32] #1229 closed

[2021-03-09 03:32] #1231 closed

[2021-03-09 03:32] #1256 closed

[2021-03-09 03:32] #1287 closed

[2021-03-09 03:32] #1318 closed

[2021-03-09 03:32] #1386 closed

[2021-03-10 16:10] wrightmw commented on #1989
Fold into #2001

[2021-03-10 16:10] #1989 closed

[2021-03-10 16:11] wrightmw commented on #2001
From closed ticket, #1989
V1 features:
All users can view their profile (name, email, institution and any affiliations they are part of)
Affiliation members can view the names and affiliation membership of other member's of the SAME affiliations.

[2021-03-10 16:11] #2030 closed

[2021-03-10 16:18] wrightmw commented on #2113
Released in 2.0

[2021-03-10 16:18] #2113 closed

[2021-03-10 16:26] wrightmw commented on #2194
Users can now change MONDO IDs within the UI

[2021-03-10 16:26] wrightmw commented on #2207
Released in 2.0

[2021-03-10 16:26] #2207 closed, assigned to nobody

[2021-03-10 16:27] wrightmw commented on #2208
Released in 2.0

[2021-03-10 16:27] #2208 closed, assigned to nobody

[2021-03-10 16:27] wrightmw commented on #2237
Released in 2.0

[2021-03-10 16:27] #2237 closed, assigned to nobody

[2021-03-10 16:33] wrightmw commented on #2270
Released

[2021-03-10 16:33] #2270 closed, assigned to nobody

[2021-03-10 16:37] wrightmw commented on #2214
Not relevant now that individual variant scoring will be implemented for SOPv8

[2021-03-10 16:37] #2214 closed, assigned to nobody

[2021-03-10 16:41] #430 closed

[2021-03-10 16:41] #1495 closed

[2021-03-10 16:49] #1353 closed

[2021-03-10 16:49] wrightmw commented on #2249
Released in 2.0

[2021-03-10 16:49] #2249 closed, assigned to nobody

[2021-03-10 16:51] wrightmw commented on #1278
Will be dealt with in #1994

[2021-03-10 16:51] #1278 closed

[2021-03-10 16:52] wrightmw commented on #1388
Will be dealt with in #2078

[2021-03-10 17:28] wrightmw commented on #1583
Deprecated by new independent variant scoring in SOPv8 which is currently under development

[2021-03-10 17:29] #1485 closed

[2021-03-10 17:35] wrightmw opened #2279 "Provide commonly used ontologies for a gene"
Provide pulldowns or type-aheads for entering ontologies in the GCI, e.g. a pulldown menu of IDs commonly associated with the gene of interest, such as HPO codes already associated with a gene in Monarch or HPO.

[2021-03-10 17:35] wrightmw commented on #1584
Created new ticket with specific purpose in mind: #2279

[2021-03-10 17:35] #1584 closed

[2021-03-10 17:37] wrightmw commented on #1512
We're moving across to only one GCEP being able to curate a GDM at a time, so this is now redundant.

[2021-03-10 17:37] #1512 closed

[2021-03-10 17:41] wrightmw commented on #1758
Folded into VCEP customization project

[2021-03-10 17:41] wrightmw commented on #1661
Folded into VCEP customization work.

[2021-03-10 17:41] #1661 closed

[2021-03-10 18:32] #1511 closed

[2021-03-10 18:32] #1577 closed

[2021-03-10 18:32] #1615 closed

[2021-03-10 18:32] #1666 closed

[2021-03-10 18:32] #1781 closed

[2021-03-10 18:32] #1724 closed

[2021-03-10 18:33] #1652 closed

[2021-03-10 18:34] wrightmw commented on #1831
Admin console has been deprecated in 2.0

[2021-03-10 18:34] #1831 closed

[2021-03-10 18:36] #1885 closed

[2021-03-10 18:37] wrightmw commented on #1869
Dashboard CSV download fulfills this ticket.

[2021-03-10 18:37] #1869 closed

[2021-03-10 18:38] wrightmw commented on #1865
No longer requested

[2021-03-10 18:38] #1865 closed

[2021-03-10 18:40] wrightmw commented on #1513
Will be covered in #1971

[2021-03-10 18:40] #1513 closed

[2021-03-10 18:41] #1619 closed

[2021-03-10 18:41] #1788 closed

[2021-03-10 18:41] #1834 closed

[2021-03-10 18:42] wrightmw commented on #1824
Was fixed in 2.0 release

[2021-03-10 18:42] #1824 closed

[2021-03-10 18:44] #1791 closed

[2021-03-10 18:48] wrightmw commented on #1798
Scores have been updated to provide more options in the lower ranges, and also scoring is being updated over next few months to reflect update to GCI SOPv8 whereby variants are scored independently.

[2021-03-10 18:49] #1998 closed

[2021-03-10 18:50] #2073 closed

[2021-03-10 18:51] #2006 closed

[2021-03-10 18:57] #1757 closed

[2021-03-10 19:52] wrightmw commented on #2027
Dealt with in #2183

[2021-03-10 19:52] #2027 closed

[2021-03-10 19:54] wrightmw commented on #2026
Dealt with in #2029

[2021-03-10 19:54] #2026 closed

[2021-03-10 23:07] wrightmw opened #2280 "Transfer GDM to the Hereditary Cancer GCEP"
Transfer this GDM from PTEN to the Hereditary Cancer GCEP (10023):

https://curation.clinicalgenome.org/curation-central/1fcd4927-5557-4d07-84ba-4a1cba6d13f6/

[2021-03-10 23:11] wrightmw commented on #1769
Will be addressed in #2177 as part of External Evidence Sources pipeline

[2021-03-10 23:11] #1769 closed

[2021-03-10 23:15] wrightmw commented on #1608
This will be fulfilled by tracking in the GeneTracker, and by the full audit trail in the GCI #2266

[2021-03-10 23:15] #1608 closed

[2021-03-10 23:16] wrightmw commented on #1622
Not currently required

[2021-03-10 23:16] #1622 closed

[2021-03-10 23:17] wrightmw commented on #1973
@larrybabb do you still need this or can we close this ticket?

[2021-03-10 23:19] #1935 closed

[2021-03-10 23:21] #2033 closed

[2021-03-10 23:28] wrightmw commented on #2211
Released in 2.0

[2021-03-10 23:28] #2211 closed, assigned to cgpreston

[2021-03-10 23:30] wrightmw commented on #2244
Tag use cases:

Alerts (e.g. new publication, new ClinVar entry, time for re-evaluation, etc) Auto-tags added by VCI
New ClinVar entry
Triggered by: new ClinVar entry for the variant that is a different (3-level: B/VUS/P) pathogenicity than the approved and submitted to ClinVar curation by the VCEP.
Re-evaluation:
Triggered by: 2 years from approval date for Likely Path/VUS interpretations. (Steve

[2021-03-10 23:30] wrightmw commented on #2093
Closed in favor of #2244

[2021-03-10 23:30] #2093 closed

[2021-03-11 03:28] larrybabb commented on #1973
Yes. I would be interested in getting access and any schema chats the VCI
Json since the refactored release was launched

On Wed, Mar 10, 2021 at 6:18 PM Matt W. Wright <notifications@github.com>
wrote:

--
Larry Babb
Principal Software Engineer
Clinical Genome Resource I clinicalgenome.org
<http://www.clinicalgenome.org>
Broad Institute of MIT and Harvard
lbabb@broadinstitute.org

[2021-03-11 17:50] larrybabb commented on #1973
@RaoMadhavrao Can you send me the VCI json data that you send to the VCI transformation service today? And would it be possible to get any modifications or updates that you or your team have made to the VCI-Transformation service pushed back to the github repo so that we can be sure not to loose them as we move forward with enhancements to that service?

[2021-03-11 19:49] wrightmw commented on #2164
@courtneythaxton this was fixed

[2021-03-11 19:49] #2164 closed

[2021-03-11 19:52] #2069 closed

[2021-03-12 14:29] #1737 closed

[2021-03-12 14:36] wrightmw commented on #1955
Will be dealt with in #2032

[2021-03-12 14:36] #1955 closed

[2021-03-12 14:36] wrightmw commented on #1954
Will be dealt with in #2032

[2021-03-12 14:36] #1954 closed

[2021-03-12 14:37] wrightmw commented on #1953
Will be dealt with in #2032

[2021-03-12 14:37] #1953 closed

[2021-03-12 15:15] #1914 closed

[2021-03-12 15:19] wrightmw commented on #2179
These were released as part of 2.0

[2021-03-12 15:19] #2179 closed

[2021-03-12 15:20] #2248 closed, assigned to nobody

[2021-03-12 15:21] wrightmw commented on #2245
Was included in 2.0

[2021-03-12 15:21] #2245 closed, assigned to nobody

[2021-03-12 15:29] wrightmw opened #2281 "Deleting PMIDs from GDMs"
Curator should have the ability to delete a PMID from a GDM if they like for a paper where no evidence has been added by the curator who added the paper.

Ability to delete would be removed if any notes (see #1486) have been saved to a PMID and/or any curated evidence has been associated.

[2021-03-12 15:29] wrightmw commented on #313
Cleaned up in #2281

[2021-03-12 15:29] #313 closed

[2021-03-12 15:34] #1581 closed

[2021-03-12 15:37] wrightmw commented on #1590
Will be dealt with as part of #1475

[2021-03-12 15:37] #1590 closed

[2021-03-12 15:42] wrightmw commented on #1630
Text will be changed for variants as part of GCI SOPv8 updates #2255

[2021-03-12 15:42] #1630 closed

[2021-03-17 11:15] bryanwulf commented on #1973
@larrybabb A PR to update the VCI-transformation repo (with our modifications) has been submitted:
https://github.com/clingen-data-model/VCI-transformation/pull/5

[2021-03-29 22:03] wrightmw opened #2282 "ClinGen awards stats"
As part of the ClinGen retreat, there is a plan to hand out awards for 2020 accomplishments  (Jan 1st 2020 to Dec 31st 2020). Including:

1. ClinGen Super Submitter VCEP 2020 : Most variant submissions to ClinVar in 2020

2. ClinGen Super Submitter GCEP 2020 : Most gene curations to the ClinGen Website in 2020

3. ClinGen Champion Biocurator (Variant) 2020: most variant curations in ClinGen VCI 20

[2021-03-30 00:30] wrightmw opened #2283 "GDM publishing for minor updates"
Raised on GCWG call on 3/18/21
When a curator wants to make minor updates to an already published GDM. When the curator gets to the Publish panel, if there is a published version already then there should be a checkbox option that can be selected, and if selected then there should be pulldown options of what type of minor update it is, e.g. fixing typo, etc.
New fields for "minor-update" (true/fal

[2021-03-31 20:52] heidirehm opened #2284 "Remove criteria code modifiers that are not allowed (e.g. BA1_Supporting, BS1_Standalone, etc)"
1. Specified changes: https://docs.google.com/spreadsheets/d/1heS9fPizdZt0_r6kgPqKKd1Gizm98b6cUUjRLqmD3MQ/edit#gid=0

2. The VCI team will generate a list of current records already using the to-be-deprecated modifiers in the VCI, the proxy team will be responsible for following up with owners to address these and republish to the Erepo

[2021-03-31 21:32] cgpreston commented on #2284
@heidirehm, this will need some further specification do you want us to do that on the Monday proxy calls or discuss this on a VCI Thursday call?

[2021-03-31 22:08] heidirehm commented on #2284
This is probably straightforward and can be done on a Monday call, but if more input is needed, Thur call also fine.

Thanks!

Heidi

From: Christine Preston ***@***.***>
Sent: Wednesday, March 31, 2021 5:32 PM
To: ClinGen/clincoded ***@***.***>
Cc: Heidi Rehm ***@***.***>; Mention ***@***.***>
Subject: Re: [ClinGen/clincoded] Remove criteria codes that are not allowed (e.g. BA1_Supporting, BS1_St

[2021-04-02 17:14] wrightmw opened #2285 "Classification snapshots summary table within GDMs"
Raised on GCWG call on 3/18/21

Provide a summary table within each GDM of the snapshot events, such as Provisional, Approval, Publishing events. This will provide a quick visual indicator of major changes to the record over time, e.g. changes to classification, disease, status.

[2021-04-05 22:12] cgpreston opened #2286 "Audit trail for the GCI"
Add an audit trail comment in the GCI when:
1. When a user starts a curation record
2. When a user adds the MOI or adds/modifies the disease term
3. If record changes affiliations
4. When a user scores evidence, including free-text comment
5. Record progression (published, unpublished, saved as provisional etc)
6. Change of SOP
7. Addition of secondary contributor

Permissions: Anyone in the GCI c

[2021-04-05 22:28] cgpreston commented on #2284
https://broadinstitute.atlassian.net/browse/CSP-159

[2021-04-07 20:54] cgpreston opened #2287 "Standardize capitalization/style for criteria modifiers"
We don't seem to have capitalization/style consistency for the criteria modifiers in the interface criteria drop downs.

For discussion: how should the following be stylized in the VCI/Erepo/CSpec?
1. [criteria] Supporting
2. [criteria] Moderate
3. [criteria] Strong
4. [criteria] Very Strong
5. [criteria] Stand Alone
6.  [criteria] Not Met
7.  [criteria] Not Applicable
8. [criteria] Not Applied

[2021-04-07 21:08] wrightmw commented on #2266
Deprecated by #2286

[2021-04-07 21:08] #2266 closed, assigned to nobody

[2021-04-09 05:04] wrightmw opened #2288 "Formatting in free text fields in the GCI"
Request from curators and experts within GCEPs for the ability to add formatting, especially paragraph breaks, but also the ability to italicize, add links, etc. in the following free text fields in the GCI:
Evidence summary
Reason for changed score
Experimental evidence explanation boxes
and preferably all other free text fields that are carried through to the PDF evidence summaries.

Also saved

[2021-04-15 18:00] wrightmw opened #2289 "Restrict gene curation to GCEPs only"
The GCI was set up as a community curation tool, similar to the VCI, however it is now solely used by GCEPs.   This ticket is to restrict access to the GCI so that it can only be edited by GCEPs.
1. Ability to create GDMs restricted to GCEPs (completed Dec 2020)
2. Ability to edit GDMs restricted to GCEPs:
Currently under discussion/scoping. Short term, only allow editors logged in as GCEPs to mak

[2021-04-19 20:46] wrightmw commented on #2288
Must include:
paragraphs
italics

Desirable:
bullets
bold
URLs
underline

Export to website so can display in same format.

First look at Evidence Summaries (in both GCI and VCI).... but then:
Reason for change score
All free text fields that populate the PDF

[2021-04-20 20:50] wrightmw commented on #2288
This also applies in the VCI, especially in the Evaluation Summary field (see here, from #2088):

Text formatting, specifically line breaks, entered in the criteria evaluation section of the VCI are not maintained in the evaluation explanation in the evaluation summary section. The desired behavior is for the evaluation explanation text to mirror the criteria evaluation text

See screenshots.

**E

[2021-04-20 20:50] wrightmw commented on #2088
Will be dealt with as part of #2288

[2021-04-20 20:50] #2088 closed

[2021-05-07 16:42] cgpreston opened #2290 "Replacing "pathogenicity" with "classification" in the VCI"
When the VCI launched we used “pathogenicity” to describe the final ACMG category used (B/LB/VUS/LP/P), since then the field has moved on to using the term “classification”. A few sections of the VCI UI need to be appropriately updated.

* For detailed mockups see here: https://docs.google.com/presentation/d/1Y6UCIhsEjb9RsoYxJIEDwRigwkOF3fMg_OPwqAhC0Rc/edit?usp=sharing
* Also update the “link” ico